/*********************************
____           _____ ______
|  _ \   /\    / ____|  ____|
| |_) | /  \  | (___ | |__
|  _ < / /\ \  \___ \|  __|
| |_) / ____ \ ____) | |____
|____/_/    \_\_____/|______|

*********************************/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,700italic,400italic|PT+Sans:400,700,400italic|Ubuntu:400,500,500italic&subset=latin,cyrillic);
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  background-color: #f6f6f6; }

a {
  color: black;
  text-decoration: none; }

a:visited {
  color: none;
  text-decoration: none; }

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-top: 35px;
  text-transform: uppercase; }

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  text-transform: uppercase; }

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left; }

p {
  margin: 0;
  padding: 0; }

svg {
  display: inline-block;
  vertical-align: middle; }

/*******************************************
_           __     ______  _    _ _______
| |        /\\ \   / / __ \| |  | |__   __|
| |       /  \\ \_/ / |  | | |  | |  | |
| |      / /\ \\   /| |  | | |  | |  | |
| |____ / ____ \| | | |__| | |__| |  | |
|______/_/    \_\_|  \____/ \____/   |_|

********************************************/
.l-wrapper {
  width: 100%; }

.l-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.l-line-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .l-line-list li {
    display: inline-block; }

.l-header-menu {
  float: right;
  height: 80px;
  line-height: 80px; }
  .l-header-menu li {
    height: 22px;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    margin-left: 17px;
    margin-right: 17px; }

.l-call-us {
  position: relative; }
  .l-call-us .l-arrow {
    margin-right: 17px;
    margin-left: 17px; }

.l-features {
  text-align: center;
  padding-bottom: 81px; }
  .l-features li {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 24px;
    margin-bottom: 51px; }
    .l-features li h3 {
      display: inline-block;
      vertical-align: top;
      margin-left: 23px; }
  .l-features .button {
    margin-left: auto;
    margin-right: auto; }

.l-map {
  padding-top: 25px;
  width: 1280px;
  height: 616px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

.l-contacts {
  height: 349px;
  width: 404px;
  position: absolute;
  right: 101px;
  top: 160px;
  z-index: 10000;
  padding-left: 43px;
  padding-right: 43px; }
  .l-contacts h2 {
    padding-bottom: 51px; }
  .l-contacts address {
    margin-bottom: 26px; }

.l-valign-middle {
  vertical-align: middle; }

.l-social-icons {
  margin-top: 38px;
  text-align: center; }
  .l-social-icons svg {
    margin-right: 8px; }

/******************************************
__  __  ____  _____  _    _ _      ______
|  \/  |/ __ \|  __ \| |  | | |    |  ____|
| \  / | |  | | |  | | |  | | |    | |__
| |\/| | |  | | |  | | |  | | |    |  __|
| |  | | |__| | |__| | |__| | |____| |____
|_|  |_|\____/|_____/ \____/|______|______|

*******************************************/
.header {
  height: 80px;
  line-height: 80px; }

.header-logo {
  vertical-align: middle; }

.header-menu {
  display: inline-block;
  line-height: 80px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500; }

.main-bg {
  position: relative;
  background-image: url(../img/index__bg1.jpg);
  background-size: cover;
  background-position: bottom; }
  .main-bg::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(29%, rgba(255, 255, 255, 0.87)), color-stop(64%, rgba(255, 255, 255, 0.34)), to(rgba(255, 255, 255, 0.57)));
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.87) 29%, rgba(255, 255, 255, 0.34) 64%, rgba(255, 255, 255, 0.57) 100%);
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.87) 29%, rgba(255, 255, 255, 0.34) 64%, rgba(255, 255, 255, 0.57) 100%);
    z-index: 5; }
  .main-bg > div {
    position: relative;
    z-index: 20; }

.greetings {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 500; }
  .greetings p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding-top: 34px;
    padding-bottom: 26px;
    text-transform: uppercase; }
    .greetings p a, .greetings p a:visited {
      display: block;
      margin-top: 25px;
      font-style: italic;
      color: #3f82de;
      text-decoration: underline;
      text-transform: none; }

.call-us {
  padding-top: 71px;
  padding-bottom: 71px;
  height: 35px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: 35px;
  text-align: center; }

.call-us > span {
  display: inline-block;
  margin-right: 108px;
  margin-left: 108px;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  vertical-align: middle;
  color: #555; }

strong.number {
  font-size: 36px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #2245a0;
  vertical-align: middle;
  background: -webkit-linear-gradient(left, #0369d7, #2245a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.button {
  display: inline-block;
  background-color: blue;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: bold;
  min-width: 232px;
  min-height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  background: #2246a0;
  background: -webkit-linear-gradient(285deg, #036ad7 0%, #2246a0 100%);
  background: linear-gradient(165deg, #036ad7 0%, #2246a0 100%); }
  .button svg {
    margin-right: 12px; }

svg.left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.about-us {
  background-image: url(../img/index__about-us.jpg);
  background-size: cover;
  padding-bottom: 21px;
  font-size: 15px; }
  .about-us ul {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='8'><line x1='0' y1='4' x2='4' y2='4' stroke-width='2' stroke='rgb(0,0,0)'/></svg>");
    margin: 0;
    padding-left: 13px; }

.why-we {
  background: -webkit-linear-gradient(285deg, #036ad7 0%, #2246a0 100%);
  background: linear-gradient(165deg, #036ad7 0%, #2246a0 100%);
  color: white;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 44px; }
  .why-we ul {
    margin-top: 33px;
    margin-bottom: 0px;
    padding-left: 44px;
    list-style: none; }
  .why-we li {
    width: 982px;
    font-size: 14px;
    line-height: 22px; }
    .why-we li:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: white;
      vertical-align: middle;
      margin-right: 4px; }

.contacts {
  background: #2246a0;
  background: -webkit-gradient(linear, left top, right top, from(#036ad7), to(#2246a0));
  background: -webkit-linear-gradient(left, #036ad7 0%, #2246a0 100%);
  background: linear-gradient(90deg, #036ad7 0%, #2246a0 100%);
  color: white;
  font-size: 16px; }
  .contacts svg {
    fill: white;
    margin-right: 17px; }
  .contacts h2 {
    padding-top: 27px;
    text-align: center; }

.footer {
  color: #7b7b7b; }
  .footer hr {
    height: 6px;
    width: 100%;
    background: #2246a0;
    background: -webkit-linear-gradient(285deg, #036ad7 0%, #2246a0 100%);
    background: linear-gradient(165deg, #036ad7 0%, #2246a0 100%);
    border-style: none; }
  .footer .copyright {
    display: inline-block;
    margin-left: 9px;
    vertical-align: middle; }
    .footer .copyright img {
      vertical-align: top;
      margin-right: 28px; }
    .footer .copyright em {
      display: inline-block;
      vertical-align: top;
      color: black;
      font-size: 16px;
      line-height: 28px; }
  .footer ul {
    display: inline-block;
    margin-left: 130px;
    height: 75px;
    line-height: 75px; }
    .footer ul li {
      margin-right: 34px;
      vertical-align: middle; }
      .footer ul li a, .footer ul li a:visited {
        color: #7b7b7b; }
        .footer ul li a:hover, .footer ul li a:visited:hover {
          text-decoration: underline; }
      .footer ul li:last-child {
        margin-right: 0; }
  .footer .button {
    float: right;
    background: transparent;
    color: #7b7b7b;
    fill: #7b7b7b;
    font-size: 14px;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 15px; }

/******************************************
_____ _______    _______ ______
/ ____|__   __|/\|__   __|  ____|
| (___    | |  /  \  | |  | |__
 \___ \   | | / /\ \ | |  |  __|
 ____) |  | |/ ____ \| |  | |____
|_____/   |_/_/    \_\_|  |______|


*********************************************/
li.is-active {
  border-bottom: 4px solid #2246a0;
  color: #2246a0; }
  li.is-active a, li.is-active a:visited {
    color: #2246a0; }
