.bread-crambs ul{
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;

	padding-top: 22px;
	padding-bottom: 22px;
}

.bread-crambs li{
	display: inline-block;
}

.bread-crambs a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 14px;
}

.group-title .container{
	background-color: #f2f6f8;
}

.group-title h1{
	color: #32425c;
	text-transform: uppercase;
	font-size: 30px;

	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}

.search-filters{
	width: 220px;
	float: left;
}

.search-filters ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

.search-filters > ul > li{
	border-top: 1px solid #e5e5e5;
}

.search-filters i{
	float: right;
}

.search-filters input[type="checkbox"]{
	display: none;
}

.search-filters input[type="checkbox"] + label::before{
	content: "Nchecked";
	display: inline-block;
}

.search-filters input[type="checkbox"]:checked + label::before{
	content: "CHECKED";
	display: inline-block;
}


/*
.search-filters li ul{
	display: none;
}

.search-filters li:hover ul{
	display: block;
}
*/

.page-content .item-container{
	width: 720px;
	float: right;
}

.item-container .feature-item{
	margin-right: 0;
	margin-left: 20px;
	float: right;

	margin-bottom: 20px;
}