
body{
    margin: 0;
    font-family: 'Cuprum', sans-serif;
}
.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    display: inline-block;
    background-color: #ee3643;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 42px;
    
    margin-top: -5px;
    vertical-align: middle;
    
    border-radius: 3px;
}

.btn:hover{
    background-color: #ca2c37;
}
.btn:active{
    background-color: #ba2732;
}


.upBlock .logo,
footer .logo{
    display: inline-block;
    float: left;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 52px;
    padding-right: 52px;
    background-color: red;
    color: white;
    text-decoration: none;
    
    border-bottom: 4px solid red;
}

.upBlock .logo{
    position: absolute;
    height: 48px;
    
    box-sizing: border-box;
}



.header{
    height: 320px;
    background-color: #f1f5f7;
}

.header .upBlock{
    background-color: #293449;
}

.header .upBlock .container{
    display: table;
}

.upBlock a{
    display: table-cell;
    height: 100%;
    font-size: 17px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    vertical-align: top;
    
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    
    float: right;
}
.upBlock a i{
    color: rgba(255,255,255,0.5);
}

.upBlock a:hover,
.upBlock a:hover i{
    background-color: #212a3a;
    color: white;
}

.upBlock a:active,
.upBlock a:active i{
    background-color: #161d29;
    color: rgba(255,255,255,0.3);
}

.upBlock .logo:hover,
footer .logo:hover{
    border-bottom-color: #9a212a;
    background-color: red;
}

.upBlock .logo:active,
footer .logo:active{
    border-bottom-color: red;
    color:white;
    background-color: red;
}

.upBlock a.buy{
    background-color: #63a63e;
}
.upBlock a.buy:hover{
    background-color: #5fbb2d;
}
.upBlock a.buy:active{
    background-color: #518534;
}

.searchForm{
    display: table-cell;
    height: 100%;
    width: 244px;
    
    padding-left: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 16px;
    line-height: 16px;
    
    vertical-align: top;
    float: right;
    color: rgba(255,255,255,0.5);
}

.searchForm:hover{
    background-color: #212a3a;
    color: white;
}

.searchForm input{
    display: inline-block;
    background-color: inherit;
    border: 0;
    padding: 0;
    outline: none;
    
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: white;
    opacity: 1;
    text-decoration: none;
}

.searchForm.active{
    background-color: white;
}
.searchForm.active input{
    outline: none;
    color: black;
}
.searchForm.active i{
    color: red;
}


.searchForm input.search::-webkit-input-placeholder{
    color: white;
}
.searchForm input.search::-moz-placeholder{
    color: white;
}
.searchForm input.search:-moz-placeholder{
    color: white;
}
.searchForm input.search:-ms-input-placeholder{
    background-color: #293449;
}

.searchForm.active input.search::-webkit-input-placeholder{
    color: black;
}
.searchForm.active input.search::-moz-placeholder{
    color: black;
}
.searchForm.active input.search:-moz-placeholder{
    color: black;
}
.searchForm.active input.search:-ms-input-placeholder{
    background-color: #293449;
}



.header .middleBlock .descSign,
.header .middleBlock .fastContacts,
.header .middleBlock .userBlock{
    display: inline-block;
    vertical-align: top;
    
    width: 300px;
    padding-left: 15px;
    box-sizing: border-box;
}

.header .middleBlock .userBlock{
    float: right;
}

.header .middleBlock{
    padding-top: 46px;
    padding-bottom: 42px;
    
    
}

.header .middleBlock .descSign{
    padding-left: 47px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
}

.header .middleBlock .fastContacts{
    box-sizing: content-box;
    width: 225px;
    padding-right: 80px;
}
.fastContacts .telephone{
    //display: inline-block;
    border: 3px solid white;
    color: #e9292a;
    font-size: 21px;
    line-height: 17px;
    
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 20px;
}

.fastContacts .adress{
    margin-top: 11px;
    color: #32425c;
    font-size: 16px;
    text-align: center;
}

.userBlock .notSigned{
    margin-left: 20px;
}

.userBlock a{
    display: inline-block;
    height: 24px;
    vertical-align: top;
    
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 14px;
    padding-right: 22px;
    
    font-size: 21px;
    line-height: 18px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.userBlock .profile{
    padding-right: 8px;
}
.userBlock a.logOut{
    padding-left: 0px;
    padding-right: 14px;
    margin-left: -5px;
}

.userBlock .notSigned a:hover{
    color: red;
}
.userBlock a:hover i{
    color: #32425c;
}

.userBlock a:active,
.userBlock a:active i,
.userBlock .notSigned a:active{
    color: rgba(0,0,0,0.3);
}

.header .middleBlock i{
    color: rgba(0,0,0,0.3);
}

.userBlock .notSigned a:last-child{
    margin-left: 4px;
}

.userBlock .userProfile-handler{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    margin-left: 16px
}
.userBlock .userProfile-handler li{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.userBlock .userProfile-handler li:last-child:before{
    content: "";
    display: inline-block;
    background-color: #32425c;
    width: 4px;
    height: 4px;
    vertical-align: middle;
    
    margin-left: 6px;
    margin-right: 6px;
}

.userBlock .userProfile-handler a{
    padding: 0;
    background-color: inherit;
    font-size: inherit;
    text-decoration: underline;
    color: #32425c;
}

.userBlock .userProfile-handler a:hover{
    color: red;
}
.userBlock .userProfile-handler a:active{
    color: #32425c;
    opacity: 0.3;
}

.hide{
    display: none;
}

nav ul{
    padding:0;
    padding-left: 4px;
    margin: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

nav a{
    display: inline-block;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 17px;
    
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 32px;
    
    margin-left: -4px;
}
nav a:hover{
    background-color: #293449;
}
nav a:active{
    background-color: #293449;
    color: rgba(255,255,255,0.3);
}

nav ul li:first-child a{
    padding-left: 42px;
}
nav ul li:last-child a{
    padding-right: 42px;
}

.features{
    padding-top: 50px;
    padding-bottom: 62px;
}
.features .promo-container{
    padding-left: -10px;
    margin-bottom: 43px;
}

.features .category-promo{
    display: inline-block;
    position: relative;
    background-color: #f6b22d;
    color: white;
    font-weight: bold;
    font-size: 24px;
    
    overflow: hidden;
    
    
    
    box-sizing: border-box;
    padding-left: 23px;
    padding-top: 20px;
    width: 300px;
    height: 122px;
    
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    background-image: url(img/category-promo/material.png);
    background-repeat: no-repeat;
    background-position: 196px 28px;
}

.features .category-promo:nth-child(2){
    margin-left: 16px;
    margin-right: 16px;
}

.features .category-promo:nth-child(5),
.features .category-promo:nth-child(6){
    float: right;
    margin-left: 16px;
    background-color: #85d179;
    background-image: url(img/category-promo/discount.png);
}

.features .category-promo a.btn{
    margin-left: 2px;
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 135px;
    font-weight: normal;
    
    background-color: rgba(0,0,0,0.1);
}
.features .category-promo a.btn:hover{
    background-color: rgba(0,0,0,0.2);
}
.features .category-promo a.btn:active{
    background-color: rgba(0,0,0,0.3);
}

.features .category-promo + .materials{
    background-color: #f6b22d;
    background-image: url(img/category-promo/material.png);
}

.features .category-promo + .instruments{
    background-color: #4aafde;
    background-image: url(img/category-promo/instrument.png);
}

.features .category-promo + .tech{
    background-color: #cc79d1;
    background-image: url(img/category-promo/tech.png);
}

.features .category-promo + .discount{
    background-color: #85d179;
    background-image: url(img/category-promo/discount.png);
}

.features .category-promo + .delivery{
    background-color: #f6b22d;
    background-image: url(img/category-promo/delivery.png);
}

.new:before{
    content: "new";
    display: block;
    
    position: absolute;
    right: -24px;
    top: 4px;
    
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    width: 84px;
    height: 26px;
    background-color: red;
    z-index: 100;
    transform: rotate(45deg);
}

.features .slider{
    display: inline-block;
    float: left;
    margin-top: 10px;
    width: 620px;
    height: 266px;
}


 .slider {
 z-index: 9;
 width: 620px;
 height: 266px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 620px;
 height: 266px;
 }
 .slider .nav {
 position: absolute;
 left: 50%; 
 
 bottom: 34px;
 
 margin-left: -10px;  
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 10px 0 0;
 width: 6px;
 height: 6px;
 border-radius: 8px;
 border-color: white;
 border-style: solid;
 border-width: 2px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 }
 
 .slider .nav i{
     
 }
 .slider .nav span.on {
 background: #ee3643;
 }
 
 .slider .icon-left,
 .slider .icon-right{
     position: absolute;
     color: white;
     font-size: 40px;
     top: 116px;
 }
 .slider .icon-left{
     left: 0px;
 }
 .slider .icon-right{
     right: 0px;
 }
 
 .slider a.btn{
     position: absolute;
     left: 25px;
     bottom: 22px;
 }


.features .feature-link{
    background-color: #f7f3ec;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    
    padding-left: 28px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature-link a{
    float: right;
}

.feature-link .btn{
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    width: 252px;
    text-align: center;
    
    margin-top: -3px;
}

.item-container{
    //margin-bottom: 30px;
}

.item-container .feature-item{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 218px;
    vertical-align: top;
    text-align: center;
    
    
    border: 1px solid #e5e5e5;
    
    font-family: 'Open Sans', sans-serif;
    
    padding-bottom: 20px;
    
    margin-right: 20px;
    margin-left: -5px;
}

.features .item-container .feature-item:first-child{
    margin-left: 0;
}

.features .item-container .feature-item:last-child{
    margin-right: 0;
}


.buttons-and-image{
    display: inline-block;
    position: relative;
    
    margin-top: 8px;
    
    width: 184px;
    height: 164px;
}
.buttons-and-image .buttons{
    position: absolute;
    width: 160px;
    height: 164px;
    left:11px;
    top: 32px;
    
    
    
}

.buttons-and-image .buy{
    display: block;
    background-color: #63a63e;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
    border-bottom: 3px solid #367315;
    padding-left: 13px;
    padding-right: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    
    border-radius: 4px;
}
.buttons-and-image .buy i{
    margin-right: 18px;
    color: rgba(255,255,255,0.3);
}

.buttons-and-image .buy:hover,
.buttons-and-image .buy:hover i{
    background-color: #5fbb2d;
    color: white;
}

.buttons-and-image .buy:active,
.buttons-and-image .buy:active i{
    background-color: #518534;
    color: white;
}

.buttons-and-image .bookmark{
    display: block;
    background-color: inherit;
    color: #32425c;
    text-decoration: none;
    text-transform: uppercase;
    
    border: 3px solid #63a63e;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 7px;
    padding-bottom: 7px;
    
    margin-top: 7px;
    
    font-size: 16px;
    
    border-radius: 4px;
}
.buttons-and-image .bookmark:hover{
    border-color: #32425c;
}

.buttons-and-image .bookmark:active{
    border-color: #32425c;
    opacity: 0.1;
}

.feature-item:hover{
    box-shadow: 0 0 30px -4px rgba(0,0,0,0.2);
}
.feature-item:hover img{
    display: none;
}
.feature-item:hover .buttons{
    display: inline-block;
}



.feature-item .item-name{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.feature-item .old-cost{
    text-decoration: line-through;
    color: #999999;
    font-size: 16px;
    line-height: 18px;
    min-height: 18px;
    
    padding-bottom: 12px;
    padding-top: 12px;
}

.feature-item .new-cost{
    display: inline-block;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ee3643;
    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
    padding-left: 36px;
    padding-right: 18px;
}

.feature-item .new-cost:after{
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    border-top: 18px solid white;
    border-bottom: 18px solid white;
    border-left: 18px solid #ee3643;
    width: 0px;
    height: 0px;
}

.brand-container .feature-brand{
    display: inline-block;
    
    border: 1px solid #e5e5e5;
    
    width: 218px;
    line-height: 144px;
    vertical-align: middle;
    text-align: center;
    
    margin-right: 20px;
    margin-left: -5px;
    margin-bottom: 20px;
}
.brand-container .feature-brand:hover,
.brand-container .feature-brand:active{
    box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
}
.brand-container .feature-brand:active img{
    opacity: 0.2;
}

.brand-container .feature-brand:nth-child(4),
.brand-container .feature-brand:last-child{
    margin-right: 0;
}

.brand-container .feature-brand:first-child,
.brand-container .feature-brand:nth-child(5){
    margin-left: 0;
}

.feature-brand img{
    display: inline-block;
    vertical-align: middle;
}

.services{
    background-color: #f1f5f7;
}

.services .container{
    padding-top: 38px;
    padding-bottom: 16px;
}

.services h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.services p{
    font-size: 16px;
    line-height: 24px;
    
    margin-bottom: 0;
}

.services ul{
    display: inline-block;
    position: relative;
    font-size: 21px;
    line-height: 30px;
    
    padding:0;
    list-style: none;
    
    min-height: 251px;
    padding-top: 45px;
}

.services li{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 140px;
    
    background-color: #32425c;
    color: white;
    
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.services li.active,
.services li:hover{
    background-color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: #32425c;
}

.services .drop{
    width: 698px;
    height: 190px;
    display: none;
    
    padding-top: 24px;
    padding-left: 82px;
}

.services .drop h3{
    color: #32425c;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    
    margin:0;
    padding-top: 24px;
    padding-bottom: 28px;
}

.services .drop p{
    width: 350px;
    margin: 0;
    margin-bottom: 32px;
    
    color: black;
}

.services .drop::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 48px;
    right: 68px;
    
    width: 389px;
    height: 283px;
    background-image: url(img/service/guarantee.png);
    background-repeat: no-repeat;
}

.services .drop-delivery::after{
    background-image: url(img/service/delivery.png);
    right: 40px;
    width: 468px;
    height: 261px;
}

.services .drop-Credit::after{
    background-image: url(img/service/credit.png);
    right: 40px;
    width: 465px;
    height: 263px;
}

.services li.active .drop,
.services li:hover .drop{
    position: absolute;
    display: block;
    
    box-shadow: -10px 0 10px -10px rgba(0,0,0,0.5);
    top: 0px;
    left: 236px;
    
    
    min-height: 231px;
}

.info .container{
    position: relative;
    padding-top: 56px;
    padding-bottom: 86px;
}

.info h2{
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    
    margin-bottom: 30px;
}

.info p{
    line-height: 24px;
    margin-bottom: 24px;
    
    
}

.info .about-us{
    display: inline-block;
    float: left;
    width: 560px;
}

.info .about-us ul{
    padding: 0;
    margin: 0;
    padding-bottom: 19px;
    
    list-style: none;
}

.info .about-us li{
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 18px;
}

.info .about-us li::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    margin-right: 12px;
    
    vertical-align: middle;
}

.info .contacts{
    display: inline-block;
    float: right;
    width: 300px;
}

.info .contacts .btn{
    margin-top: 48px;
    width: 216px;
    text-align: center;
}

.info .contacts p{
    width: 208px;
}

.write-us{
    position: absolute;
    width: 620px;
    height: 376px;
    border-top: 6px solid red;
    background-color: white;
    left: 50%;
    top: 37%;
    margin-left: -310px;

    padding-top: 48px;

    box-shadow: 0px 44px 43px 2px rgba(0,0,0,0.38);

    //padding-left: 80px;
    //padding-right: 80px;
}

.write-us .name-email,
.write-us form > label{
    padding-left: 80px;
    padding-right: 80px;
}

.write-us form > label{
    display: block;
    padding-top: 29px;
    padding-bottom: 37px;
}

.write-us .name-email label {
    display: block;
    width: 220px;
}
.write-us .name-email label input{
    box-sizing: border-box;
    width: 220px;
}

.write-us input,
.write-us textarea,
.write-us button{
    //height: 34px;
    border: 2px solid #d7dcde;
    color: #999999;
    border-radius: 4px;

    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 12px;
}

.write-us textarea{
    resize:none;
    height: 110px;
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
}

.write-us .name-email label.name{
    float: left;
}
.write-us .name-email label.email{
    float: right;
}

.write-us textarea,
.write-us input[type="text"]{
    display: block;
    width: 100%;    
}

.write-us .buttons{
    display: block;
    //position: absolute;
    background-color: #f1f1f1;
    bottom: 0px;

    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 36px;
    padding-top: 36px;
}

.write-us .buttons input,
.write-us .buttons button{
    width: 220px;
    padding-right: 0;
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    color: white;
    border: 0;
}
.write-us .buttons button{
    display: block;
    float: right;
}

.write-us .buttons input[type="submit"]{
    background-color: #ee3643;
    color: white;
}

footer{
    background-color: #32425c;
    color: white;
    font-size: 18px;
}
footer a{
    text-decoration: none;
    color: white;
}

footer .footer-top{
    margin-top: 0;
}

footer .logo-address{
    display: inline-block;
    vertical-align: top;
    
    padding-bottom: 53px;
}

footer .logo{
    display: block;
    float: none;
    vertical-align: top;
    
    padding-top: 21px;
    padding-bottom: 21px;
}

footer address{
    display: block;
    font-style: normal;
    //float: left;
    
    margin-top: 32px;
    //margin-bottom: 32px;
}

footer .links{
    display: inline-block;
    //margin-left: 150px;
    float: right;
    //width: 630px;
    
    padding-top: 12px;
}

footer .links a:hover{
    text-decoration: underline;
}
footer .links a:active{
    opacity: 0.2;
}

footer .links .categories{
    margin-left: 28px;
}

footer .links .categories a{
    color: #ffd180;
}

footer ul{
    display: block;
    
    margin: 0;
    padding: 0;
}
footer li{
    display: inline-block;
}

footer li a{
    display: inline-block;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 22px;
    padding-bottom: 22px;
}

footer ul li:last-child a{
    padding-right: 0;
}
footer ul li:first-child a{
    padding-left: 0;
}



.footer-bottom{
    background-color: #293449;
    padding-top: 32px;
    padding-bottom: 40px;
    
    font-size: 16px;
}
.footer-bottom >div div{
    display: inline-block;
}

.footer-bottom .social{
    margin-left: 160px;
    margin-right: 118px;
    margin-top: -10px;
}

.footer-bottom .social a{
    display: inline-block;
    background-color: #212a3a;
    color: white;
    font-size: 20px;
    line-height: 20px;
    
    height: 20px;
    width: 40px;
    border-radius: 20px;
    
    text-align: center;
    
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom .social a:hover{
    background-color: #ee3643;
}
.footer-bottom .social a:active{
    background-color: #ee3643;
}

.footer-bottom .copyright{
    width: 227px;
    
    line-height: 18px;
}

.footer-bottom a{
    color: #ffd180;
}

.footer-bottom .design-by{
    float: right;
}

.footer-bottom .feedback:hover a,
.footer-bottom .design-by:hover a{
    text-decoration: underline;
}

.footer-bottom .feedback:active a,
.footer-bottom .design-by:active a{
    color: #ee3643;
}