/*********************************
____           _____ ______
|  _ \   /\    / ____|  ____|
| |_) | /  \  | (___ | |__
|  _ < / /\ \  \___ \|  __|
| |_) / ____ \ ____) | |____
|____/_/    \_\_____/|______|

*********************************/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,700italic,400italic|PT+Sans:400,700,400italic|Ubuntu:400,500,500italic&subset=latin,cyrillic);
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  background-color: #f6f6f6; }

a {
  color: black;
  text-decoration: none; }

a:visited {
  color: none;
  text-decoration: none; }

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-top: 35px;
  text-transform: uppercase; }

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  text-transform: uppercase; }

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left; }

p {
  margin: 0;
  padding: 0; }

svg {
  display: inline-block;
  vertical-align: middle; }

table {
  border-collapse: collapse; }
  table th {
    background-color: #2246a0;
    color: white;
    border-right: 1px solid rgba(233, 233, 233, 0.05); }
    table th:last-child {
      border-right: none; }
  table td {
    border-right: 1px solid rgba(233, 233, 233, 0.05); }
  table tr:nth-child(even) {
    background-color: white; }

/*******************************************
_           __     ______  _    _ _______
| |        /\\ \   / / __ \| |  | |__   __|
| |       /  \\ \_/ / |  | | |  | |  | |
| |      / /\ \\   /| |  | | |  | |  | |
| |____ / ____ \| | | |__| | |__| |  | |
|______/_/    \_\_|  \____/ \____/   |_|

********************************************/
.l-wrapper {
  width: 100%; }

.l-centered {
  text-align: center; }

.l-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .l-container.paddings {
    padding-left: 50px;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.l-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0; }
  .l-header::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5; }
  .l-header > div {
    position: relative;
    z-index: 10; }

.l-line-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .l-line-list.inline {
    display: inline-block; }
  .l-line-list li {
    display: inline-block; }

.l-header-menu {
  float: right;
  height: 80px;
  line-height: 80px; }
  .l-header-menu li {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 50;
    height: 27px;
    line-height: 23px;
    vertical-align: middle;
    margin-left: 17px;
    margin-right: 17px; }

.l-dropdown {
  position: absolute;
  top: 0;
  text-align: center;
  margin-left: -60px;
  z-index: 20000; }
  .l-dropdown ul {
    margin-top: 40px;
    padding-top: 25px;
    padding-left: 28px;
    padding-right: 32px;
    padding-bottom: 31px;
    width: 176px; }
  .l-dropdown::before {
    top: 24px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #2246a0;
    border-width: 30px;
    border-top-width: 14px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 14px;
    margin-left: -15px; }
  .l-dropdown .mouse-container {
    position: absolute;
    left: -5px;
    right: 0;
    bottom: 0;
    top: -40px; }

.l-call-us {
  position: relative; }
  .l-call-us .l-arrow {
    margin-right: 17px;
    margin-left: 17px; }
  .l-call-us .number {
    margin-left: 108px;
    float: left; }
  .l-call-us .button {
    margin-right: 108px;
    float: right; }

.l-features {
  text-align: center;
  padding-bottom: 81px; }
  .l-features li {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 24px;
    margin-bottom: 51px; }
    .l-features li h3 {
      display: inline-block;
      vertical-align: top;
      margin-left: 23px; }
  .l-features .button {
    margin-left: auto;
    margin-right: auto; }

.l-map {
  padding-top: 25px;
  width: 1280px;
  height: 616px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

.l-right-aligned {
  display: inline-block;
  text-align: right;
  float: right; }

.l-contacts.block {
  height: 349px;
  width: 404px;
  position: absolute;
  right: 101px;
  top: 160px;
  z-index: 10000;
  padding-left: 43px;
  padding-right: 43px; }
  .l-contacts.block h2 {
    padding-bottom: 51px; }
  .l-contacts.block address {
    margin-bottom: 26px; }

.l-contacts.page {
  position: relative;
  padding-top: 22px;
  padding-bottom: 16px; }
  .l-contacts.page .l-social-icons {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -24px; }
    .l-contacts.page .l-social-icons h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      margin-right: 32px; }

.l-services {
  width: 100%; }
  .l-services tr {
    text-align: center;
    height: 57px;
    line-height: 57px;
    vertical-align: middle; }
    .l-services tr td:nth-child(2) {
      padding-left: 38px;
      text-align: left; }

.l-valign-middle {
  vertical-align: middle; }

.l-social-icons {
  margin-top: 38px;
  text-align: center; }
  .l-social-icons svg {
    margin-right: 8px; }

.l-carousel {
  padding-top: 14px;
  padding-bottom: 16px; }
  .l-carousel .l-container {
    position: relative; }
  .l-carousel button {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0; }
    .l-carousel button.left {
      left: 0; }
    .l-carousel button.right {
      right: 0; }

/******************************************
__  __  ____  _____  _    _ _      ______
|  \/  |/ __ \|  __ \| |  | | |    |  ____|
| \  / | |  | | |  | | |  | | |    | |__
| |\/| | |  | | |  | | |  | | |    |  __|
| |  | | |__| | |__| | |__| | |____| |____
|_|  |_|\____/|_____/ \____/|______|______|

*******************************************/
.header {
  height: 80px;
  line-height: 80px;
  z-index: 20 !important; }

.header-logo {
  vertical-align: middle; }

.top-non-padding-title {
  padding-top: 0;
  margin-top: 0; }

.header-menu {
  display: inline-block;
  line-height: 80px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500; }

.dropdown {
  display: none; }
  .dropdown ul {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.15); }

.bg {
  background-size: cover;
  background-position: bottom; }
  .bg::before {
    content: ' ';
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(29%, rgba(255, 255, 255, 0.87)), color-stop(64%, rgba(255, 255, 255, 0.64)), to(rgba(246, 246, 246, 0.97)));
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.87) 29%, rgba(255, 255, 255, 0.64) 64%, rgba(246, 246, 246, 0.97) 100%);
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.87) 29%, rgba(255, 255, 255, 0.64) 64%, rgba(246, 246, 246, 0.97) 100%); }

.main-bg::before {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(29%, rgba(255, 255, 255, 0.87)), color-stop(64%, rgba(255, 255, 255, 0.34)), to(rgba(246, 246, 246, 0.57)));
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.87) 29%, rgba(255, 255, 255, 0.34) 64%, rgba(246, 246, 246, 0.57) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.87) 29%, rgba(255, 255, 255, 0.34) 64%, rgba(246, 246, 246, 0.57) 100%); }

.main-img {
  background-image: url(../img/index__bg1.jpg);
  background-position: bottom; }

.about-img {
  background-image: url(../img/about--bg.jpg);
  background-position: center; }

.contacts-img {
  background-image: url(../img/contacts--bg.jpg);
  background-position: center; }

.news-img {
  background-image: url(../img/news--bg.jpg);
  background-position: center; }

.our-services-img {
  background-image: url(../img/our-services--bg.jpg);
  background-position: center; }

.our-works-img {
  background-image: url(../img/our-works-2--bg.jpg);
  background-position: center; }

.greetings {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 500; }
  .greetings p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding-top: 34px;
    padding-bottom: 26px;
    text-transform: uppercase; }
    .greetings p a, .greetings p a:visited {
      display: block;
      margin-top: 25px;
      font-style: italic;
      color: #3f82de;
      text-decoration: underline;
      text-transform: none; }

.call-us {
  padding-top: 71px;
  padding-bottom: 71px;
  height: 35px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: 35px;
  text-align: center; }

.call-us > span {
  display: inline-block;
  margin-right: 108px;
  margin-left: 108px;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  vertical-align: middle;
  color: #555; }

strong.number {
  font-size: 36px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #2245a0;
  vertical-align: middle;
  background: -webkit-linear-gradient(left, #0369d7, #2245a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.button {
  display: inline-block;
  background-color: blue;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: bold;
  min-width: 232px;
  min-height: 45px;
  line-height: 45px;
  margin-top: -4px;
  vertical-align: middle;
  text-align: center;
  background: #2246a0;
  background: -webkit-linear-gradient(285deg, #036ad7 0%, #2246a0 100%);
  background: linear-gradient(165deg, #036ad7 0%, #2246a0 100%); }
  .button svg {
    margin-right: 12px; }

svg.left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

svg.black {
  fill: black; }

svg.primary-color {
  fill: #2246a0; }

svg.white {
  fill: white; }

.about-us {
  background-image: url(../img/index__about-us.jpg);
  background-size: cover;
  padding-bottom: 21px;
  font-size: 15px; }
  .about-us.page {
    background-image: none;
    background-color: #f6f6f6; }
    .about-us.page h2 {
      padding-top: 40px; }
  .about-us ul {
    margin: 0;
    padding-left: 13px; }

ul.hyphen {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='8'><line x1='0' y1='4' x2='4' y2='4' stroke-width='2' stroke='rgb(0,0,0)'/></svg>"); }

.why-we {
  background: -webkit-linear-gradient(285deg, #036ad7 0%, #2246a0 100%);
  background: linear-gradient(165deg, #036ad7 0%, #2246a0 100%);
  color: white;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 44px; }
  .why-we ul {
    margin-top: 33px;
    margin-bottom: 0px;
    padding-left: 44px;
    list-style: none; }
  .why-we li {
    width: 982px;
    font-size: 14px;
    line-height: 22px; }
    .why-we li:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: white;
      vertical-align: middle;
      margin-right: 4px; }

.contacts {
  font-size: 16px; }
  .contacts.block {
    background: #2246a0;
    background: -webkit-gradient(linear, left top, right top, from(#036ad7), to(#2246a0));
    background: -webkit-linear-gradient(left, #036ad7 0%, #2246a0 100%);
    background: linear-gradient(90deg, #036ad7 0%, #2246a0 100%);
    color: white; }
    .contacts.block svg {
      fill: white; }
  .contacts svg {
    fill: white;
    margin-right: 17px; }
  .contacts h2 {
    padding-top: 27px;
    text-align: center; }
  .contacts.page {
    background-color: #eeeeee; }
    .contacts.page address {
      font-style: normal; }
    .contacts.page svg {
      fill: black; }

.month-pagination {
  padding-bottom: 61px; }
  .month-pagination li {
    margin-left: 6px;
    margin-right: 6px; }
  .month-pagination a {
    text-decoration: underline;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    font-size: 18px; }
  .month-pagination .selected a {
    font-weight: bold;
    color: #2246a0;
    text-decoration: none;
    font-size: 22px; }

article {
  margin-bottom: 77px; }

article h3 {
  display: inline-block;
  margin-top: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  color: #2246a0; }

.date {
  float: right;
  font-family: 'Noto Sans', sans-serif; }
  .date svg {
    margin-top: -4px;
    margin-left: 14px;
    fill: #2246a0; }

.go-prev {
  text-decoration: underline;
  font-style: italic;
  color: #2246a0; }
  .go-prev svg {
    margin-left: 20px; }

.news.page > div {
  padding-left: 111px;
  padding-right: 79px;
  padding-bottom: 57px; }

.our-services ul {
  padding-left: 14px; }

.our-services .paddings {
  padding-left: 49px;
  padding-right: 64px;
  padding-bottom: 55px; }

.download-link a {
  text-decoration: underline;
  color: #2246a0;
  fill: #2246a0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 15px; }
  .download-link a svg {
    margin-top: -5px;
    margin-right: 9px; }

.carousel {
  background-color: #eeeeee; }
  .carousel button {
    background-color: transparent;
    border: none; }
    .carousel button:active, .carousel button:focus {
      outline: none; }
    .carousel button:active {
      margin-top: 4px;
      background-color: rgba(243, 243, 243, 0.4); }
    .carousel button:hover {
      background-color: rgba(255, 255, 255, 0.4); }
  .carousel #carousel {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 252px;
    width: 1161px; }
    .carousel #carousel ul {
      width: 3000px; }
    .carousel #carousel li {
      margin-right: 6px;
      margin-left: 6px; }

.gallery .work-photo {
  display: inline-block;
  width: 33%;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .gallery .work-photo img {
    max-width: 100%; }
  .gallery .work-photo p {
    padding-left: 47px; }

.gallery-container {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: -5px;
  margin-right: -5px; }

.full-photo:focus {
  outline: none; }

.lightBox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000; }
  .lightBox #image-placer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-height: 761px;
    width: 60%;
    z-index: 20000; }
    .lightBox #image-placer img {
      width: 100%; }
    .lightBox #image-placer p {
      color: white;
      text-align: center;
      position: relative;
      bottom: 60px; }
  .lightBox button {
    display: none;
    position: absolute;
    height: 761px;
    width: 14%;
    top: 50%;
    z-index: 15000;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .lightBox button.left {
      left: 1%; }
    .lightBox button.right {
      right: 1%; }
    .lightBox button:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .lightBox button:active {
      background-color: rgba(255, 255, 255, 0.4);
      margin-top: 4px; }
    .lightBox button:focus {
      outline: none; }

.footer {
  color: #7b7b7b; }
  .footer hr {
    height: 6px;
    width: 100%;
    background: #2246a0;
    background: -webkit-linear-gradient(285deg, #036ad7 0%, #2246a0 100%);
    background: linear-gradient(165deg, #036ad7 0%, #2246a0 100%);
    border-style: none; }
  .footer .copyright {
    display: inline-block;
    margin-left: 9px;
    vertical-align: middle; }
    .footer .copyright img {
      vertical-align: top;
      margin-right: 28px; }
    .footer .copyright em {
      display: inline-block;
      vertical-align: top;
      color: black;
      font-size: 16px;
      line-height: 28px; }
  .footer ul {
    display: inline-block;
    margin-left: 130px;
    height: 75px;
    line-height: 75px; }
    .footer ul li {
      margin-right: 34px;
      vertical-align: middle; }
      .footer ul li a, .footer ul li a:visited {
        color: #7b7b7b; }
        .footer ul li a:hover, .footer ul li a:visited:hover {
          text-decoration: underline; }
      .footer ul li:last-child {
        margin-right: 0; }
  .footer .button {
    float: right;
    background: transparent;
    color: #7b7b7b;
    fill: #7b7b7b;
    font-size: 14px;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 15px; }

/******************************************
_____ _______    _______ ______
/ ____|__   __|/\|__   __|  ____|
| (___    | |  /  \  | |  | |__
 \___ \   | | / /\ \ | |  |  __|
 ____) |  | |/ ____ \| |  | |____
|_____/   |_/_/    \_\_|  |______|


*********************************************/
li.is-active {
  border-bottom: 4px solid #2246a0;
  color: #2246a0; }
  li.is-active > a, li.is-active > a:visited {
    color: #2246a0; }

li.is-dropdown-showed {
  border-bottom: 4px solid #2246a0;
  color: #2246a0; }
  li.is-dropdown-showed > a, li.is-dropdown-showed > a:visited {
    color: #2246a0; }

.is-dropdown-showed > .dropdown {
  display: block; }

.dropdown li:hover a, .dropdown li:hover a:visited {
  color: #2246a0;
  border-bottom: 2px solid #2246a0; }

.is-visible {
  display: block !important; }
