body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}



.logo{
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 58px;
}

.features-row{
    margin-top: 55px;
    margin-bottom: 86px;
    
}

.features-item{
    display: inline-block;
    width: 250px;
    margin: 11px;
    text-align: center;
    vertical-align: top;
    height: 165px;
    width: 282px;
    
    text-transform: uppercase;
}

.features-item:nth-child(2){
    margin-left: 22px;
    margin-right: 22px;
}
.features-item .features-title{
    line-height: 42.33px;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 30px;
}
.features-title:after{
    content: "";
    display: block;
    background-color: white;
    width: 20px;
    height: 20px;
    
    margin-top: 18px;
    margin-bottom: 31px;
    
    margin-left: auto;
    margin-right: auto;
    
    transform: rotate(45deg);
}

.features-item p{
    line-height: 24px;
}

.index-content{
    background-image: url(img/whiteTexture.jpg);
    color: #000000;
    margin-bottom: 34px;
    
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 52px;
    padding-bottom: 53px;
    
}

.content-column{
    display: inline-block;
    vertical-align: top;
    width: 299px;
    
    //border: 1px dotted blue;
    
    text-transform: uppercase;
}

.index-content .separator{
    display: inline-block;
    
    //position: relative;
    //left: 80px;
    margin-left: 80px;
    margin-right: 80px;
    width: 8px;
    height: 278px;
    //background-color: red;
    background-image: url(img/separator.png);
    
    margin-top: 38px;
    margin-bottom: auto;
}

.content-column + .left {
    background-color: red;
    float: left;
}
.content-column + .right {
    background-color: red;
    float: right;
}

.content-column .content-column-title{
    line-height: 30px;
    text-transform: uppercase;
    font-size: 30px;
    
    margin:0;
    
    width: 600px;
}

.news-preview{
    list-style: none;
    padding: 0px;
    
    margin-bottom: 30px;
    margin-top: 30px;
}
.news-preview li{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 24px;
}
.news-preview time{
    display: inline-block;
    //margin-top: 14px;
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-transform: lowercase;
    
    
}

.gallery .gallery-content{
    border: 7px solid white;
    background-color: #e5e5e5;
    
    margin-top: 36px;
    margin-bottom: 37px;
    margin-left: 0px;
    margin-right: 0px;
    width: 286px;
    height: 164px;
}

.gallery .gallery-next{
    float: right;
    width: 140px;
}
.gallery .gallery-prev{
    float: left;
    width: 140px;
}

.main-contacts p, .appointment-form p{
    margin-top: 30px;
    margin-bottom: 46px;
    line-height: 24px;
}
.appointment-form p{
    margin-bottom: 27px;
}

.main-contacts .links-to-route{
    width: 500px;
}

.main-contacts .links-to-route .btn{
    padding-left: 28px;
    padding-right: 28px;
    margin-right: 20px;
}

.appointment-form{
    width: 304px;
    //margin-bottom: 34px;
}
.appointment-form input{
    display: inline-block;
    
    border: 2px solid #000101;
    height: 39px;
    width: 136px;
    
    padding: 0;
    
}
.appointment-form input:focus{
    border-color: #663d15;
    outline: none;
}

.appointment-form .inputField-separator{
    margin-bottom: 34px;
}
.appointment-form input:nth-child(1),
.appointment-form input:nth-child(2){
    margin-bottom: 19px;
}
.appointment-form input:nth-child(odd){
    margin-right: 21px;
}

.appointment-form button[type="submit"]{
    padding-left: 0px;
    padding-right: 0px;
    width: 304px;
}

.appointment-form .inputField-separator input{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 16px;
    width: 120px;
}




::-webkit-input-placeholder { /* Chrome */
  color: black;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}