.page-content{
    padding-bottom: 82px;
}

.page-content .structure{
    display: block;
    margin-bottom: 38px;
}

.images{
    display: inline-block;
    width: 460px;
}

.images img{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.images .big-image{
    display: block;
}

.images .preview-image{
    margin-top: 21px;
}

.images .preview-image:nth-child(3){
    margin-left: 16px;
    margin-right: 16px;
}

.item{
    display: inline-block;
    margin-left: 84px;
    width: 380px;
    vertical-align: top;
}

.item .item-category{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    
    margin-bottom: 14px;
}

.item .item-name{
    font-size: 24px;
    line-height: 42.33px;
    font-weight: bold;
    
}

.item .cost-and-buy{
    margin-top: 28px;
    margin-bottom: 30px;
    background-color: #e5e5e5;
    width: 187px;
}
.item .cost{
    display: inline-block;
    text-align: center;
    float: left;
    
    padding-top: 12px;
    
    width: 105px;
    
    font-size: 14px;
    line-height: 18px;
}

.item .buy{
    float: right;
    padding-left: 17px;
    padding-right: 17px;
}

.item .in-stock{
    display: inline-block;
    width: 100px;
    font-size: 14px;
    line-height: 24px;
}
.item .code{
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 24px;
    color: #aeaeae;
}

.item-description-big{
    margin-top: 24px;
    
    line-height: 24px;
    font-size: 14px;
    
}

.item section.content{
    margin-top: 58px;
}

.content h2{
    font-size: 24px;
    margin-bottom: 24px;
}

.content ul{
    margin: 0;
    margin-left: 6px;
    padding: 0;
    list-style: none;
}

.content li{
    line-height: 24px;
    font-size: 14px;
    //margin-bottom: 13px;
}

.content li:before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: black;
    
    transform: rotate(45deg);
    
    margin-right: 9px;
}

.main-footer{
    margin-top: 0px;
}