body{
    background-color: black;
}

.page-content{
    //padding-right: 100px;
    width: 954px;
}

.page-content .structure{
    display: block;
    margin-bottom: 10px;
}

.page-content section.selectors{
    display: inline-block;
    float: left;
}

.page-content section h2{
    margin-top: 0px;
    font-size: 24px;
    line-height: 42.33px;
    font-weight: bold;
}

.selectors section{
    margin-top: 38px;
}

.selectors ul{
    list-style: none;
    padding: 0;
}

.selectors ul li{
    margin-bottom: 18px;
    vertical-align: top;
}


.selectors input[type="checkbox"]{
    display: none;
}

.selectors input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    
    vertical-align: top;
    
    border: 2px solid black;
    margin-right: 22px;
}
.selectors input[type="checkbox"]:checked + label::before{
    background-image: url(img/cross.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.selectors .goods-groop ul{
    margin-top: 24px;
}
.selectors input[type="radio"] + label::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    
    vertical-align: top;
    
    border: 2px solid black;
    border-radius: 12px;
    margin-right: 22px;
}
.selectors input[type="radio"]:checked + label::before{
    background-image: url(img/radioDot.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.line-breaker{
    display: inline-block;
    width: 110px;
}


.goods{
    display: inline-block;
    //float: right;
    width: 726px;
    margin-top: 40px;
    padding-left: 58px;
    
}

.goods .item{
    display: inline-block;
    
    width: 220px;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-bottom: 16px;
    
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.goods .item section{
    margin-left: 16px;
    margin-right: 17px;
}

.goods .item .item-name{
    
    margin-top: 8px;
    
    font-size: 14px;
    line-height: 18px;
    
    font-weight: bold;
}

.goods .item .item-description{
    text-transform: none;
}

.goods .item .cost-and-buy{
    margin-top: 14px;
    background-color: #e5e5e5;
}
.goods .item .cost{
    display: inline-block;
    text-align: center;
    float: left;
    
    padding-top: 12px;
    
    width: 105px;
    
    font-size: 14px;
    line-height: 18px;
}

.goods .item .buy{
    float: right;
    padding-left: 17px;
    padding-right: 17px;
}

.pages{
    margin-top: 34px;
    margin-left: 10px;
}

.pages .btn{
    //width: 42px;
    //height: 42px;
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    
    margin-right: 5px;
}

.pages .btn + .active{
    color: black;
    background-color: white;
}

.main-footer{
    margin-top: 0px;
}

.item-name a{
    text-decoration: none;
    color: black;
}

.item-name a:hover{
    text-decoration: underline;
    color: black;
}