body{
    
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: #f7f4f1;
    font-size: 14px;
    
    margin: 0;
    background-color: #070707;
    //background-color: blue;
    
}


/*******************************************

header style

*******************************************/


.main-header{
    //width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.main-header .container{
    //width: 900px;
}
.main-header .main-navigation{
    display: inline-block;
}
.main-header .main-navigation ul{
    padding: 0;
    margin-top: 18px;
    
    margin-bottom: auto;
    //padding-left: 20px;
}
.main-header .main-navigation li{
    display: inline-block;
    
    //margin-left: 43px;
    margin-right: 18px;
    margin-left: 21px;
    padding-bottom: 16px;
}

.main-header .main-navigation .active{
    
    height: 38px;
    border-bottom: 4px solid white;
}

.main-header .main-navigation li:hover{
    background-color: #242424;
}

.main-header .user-block{
    display: inline-block;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 18px;
    padding-right: 20px;
}

.main-header .user-block a{
    background-image: url(img/login-icon.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 32px;
    
    vertical-align: middle;
}
.main-header .user-block a:hover{
    background-color: #242424;
    background-image: url(img/login-icon-hover.png);
}

.main-header a{
    color: white;
    text-decoration: none;
    line-height: 42.33px;
    text-transform: uppercase;
    font-size: 16px;
}

/*******************************************

styles for pages

*******************************************/

.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.page-content{
    background-image: url(img/whiteTexture.jpg);
    width: 940px;
    
    color: black;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 130px;
    padding-right: 132px;
    padding-bottom: 48px;
    
}

.page-content h1{
    line-height: 42px;
    font-weight: bold;
    font-size: 30px;
    
    margin-bottom: 16px;
}

.page-content .structure{
    list-style: none;
    display: inline;
    padding: 0;
    margin-top: 16px;
    
}

.page-content .structure li{
    display: inline-block;
}

.page-content .structure li:nth-child(2):before,
.page-content .structure li:nth-child(3):before,
.page-content .structure li:nth-child(4):before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: black;
    
    transform: rotate(45deg);
    
    margin-left: 15px;
    margin-right: 15px;
}

/*******************************************

footer style

*******************************************/

.main-footer{
    background-color: #212121;
    background-image: url(img/footerTexture.jpg);
    vertical-align: top;
    font-size: 14px;
    
    margin-top: 64px;
    padding-top: 61px;
    padding-bottom: 64px;
}

.main-footer p{
    margin-top: 0px;
}

.footer-contacts{
    display: inline-block;
    float: left;
    width: 300px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}
.footer-social{
    display: inline-block;
    width: 200px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    text-transform: uppercase;
    
}
.footer-social p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.social-btn{
    display: inline-block;
    width: 42px;
    height: 42px;
    
    background-color: #000000;
    
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.social-btn:hover{
    background-color: #ffffff;
}

.social-btn-vk{
    background-image: url(img/iconSprite.png);
    background-repeat: no-repeat;
    //background-position: 50% 50%;
}
.social-btn-vk:hover{
    background-position: 0px -43px;
}
.social-btn-fb{
    background-image: url(img/iconSprite.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    
    margin-left: 7px;
    margin-right: 7px;
}
.social-btn-fb:hover{
    background-position: 50% -43px;
}
.social-btn-inst{
    background-image: url(img/iconSprite.png);
    background-repeat: no-repeat;
    background-position: -86px 0;
}
.social-btn-inst:hover{
    background-position: -86px -43px;
}

.footer-copyright{
    display: inline-block;
    float: right;
    //width: 200px;
    text-transform: uppercase;
    text-align: center;
}
.footer-copyright {
    margin-bottom: 5px;
}

.footer-copyright a:hover{
    background-color: #ffffff;
    color: #000000;
}

.btn{
    display: inline-block;
    
    background-color: #212121;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 36px;
    padding-right: 36px;
    
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    
    border: 0;
}

.btn:hover,
.btn:active{
    background-color: #663d15;
}

button{
    font-family: 'PT Sans Narrow', sans-serif;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
    width: 0px;
    height: 0px;
}