.ad-sign{
    font-size: 48px;
    margin-top: 45px;
    margin-bottom: 6px;
    //margin-left: -2px;
}

.ad-sign:before,
.ad-sign:after{
    content: "";
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: black;
    vertical-align: top;
    margin-top: 32px;
}

.ad-sign:before{
    margin-right: 25px;
}
.ad-sign:after{
    margin-left: 25px;
}

.ad-blocks{
    vertical-align: top;
}

.page-content section{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 27px;
    
    vertical-align: top;
    width: 390px;
    
}

.page-content article > section{
    margin-top: 0px;
    font-weight: bold;
    line-height: 24px;
}

.ad-blocks > section:nth-child(2),
article > section:last-child{
    margin-left: 86px;
}

.page-content h2{
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
}

.page-content article h2{
    margin-bottom: 28px;
}

.cosmetical-tools ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.cosmetical-tools li{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 13px;
}

.cosmetical-tools li:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: black;
    
    transform: rotate(45deg);
    
    margin-right: 9px;
}

.ad-blocks table, td{
    border: 2px solid black;
}
.ad-blocks table{
    margin-top: 33px;
    
    border-collapse: collapse;
    width: 460px;
    //width: 600px;
}
.ad-blocks td{
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 11px;
    width: 227px;
}

.ad-blocks .td-cost{
    //padding-left: 150px;
    text-align:center;
}

.main-footer{
    margin-top: 0;
}