body{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

nav.navbar{
    position: absolute;
    left: 0;
    right: 0;
    background-color: initial;
    border-color: rgba(108, 78, 100, 0.2);;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background-color: initial;
    border-bottom: 3px solid white;
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    padding-right: 0;
    padding-left: 0;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #dadada;
}

.navbar-default .navbar-form{
    margin-right: 15px;
    margin-left: 15px;
}

.form-control:focus{
    border-color: initial;
    box-shadow: inherit;
}


.mastHead{
    margin-right: 0;
    height: 100vh;
    padding-top: 42vh;
    //padding-right: 50vw;
    background-image: url(img/hill2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    
    text-align: right;
}

.mastHead h1{
    text-align: right;
    font-size: 50px;
    margin-bottom: 50px;
}

.mastHead img{
    width: 100%;
}
.notification{
    display: block;
    margin-top: 18px;
}

.roundedbtn {
    display: inline-block;
  background-color: white;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 27px;
  color: #d8586d;
  font-size: 18px;
}
.transparent{
    background-color: initial;
    color: white;
    border: 1px solid white;
    font-size: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 26px;
    padding-right: 26px;
}

.longest{
    padding-left: 91px;
    padding-right: 91px;
}

.purple{
    background-color: #8824cd;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    color: white;
}

.offers{
    position: relative;
    padding-bottom: 144px;
    padding-top: 39px;
    
    background-color: #2e3b4e;
    //background-color: red;
    border-top: 1px solid #455975;
    text-align: center;
    
}
.offer{
    display: inline-block;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 39px;
    text-align: left;
}

h3{
    font-weight: bold;
    font-size: 15px;
}

p{
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
}

span.light{
    font-size: 19px;
    line-height: 31px;
}

.roundCapsule{
    display: inline-block;
    position: absolute;
    bottom: -32px;
    margin-left: -71px;
}

.pink{
    background-image: url(img/forest2.jpg);
    padding-top: 157px;
    padding-bottom: 194px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    
}

.pink .roundedbtn{
    margin-top: 24px;
}

.about .text h3, .about .text p{
    color: #2e3b4e;
}

.about .text{
    padding-top: 95px;
    padding-bottom: 20px;
}

.about.row{
    overflow: hidden;
    margin-right: 0px;
}

.about .hand{
    overflow: hidden;
    padding-right: 0;
}

.about .draw, .about .watch{
    background-image: url(img/drawingHand.jpg);
    height: 660px;
    background-size: cover;
    background-position: center center;
}
.about .watch{
    background-image: url(img/handWithWatch.jpg);
}

.about.second .hand{
   padding-right: 0;
}

.about.second .text h3, .about.second .text .p{
    color: black;
}

.forestBg{
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(img/hillForest.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
}

.forestBg .littlePurple{
    background-color: #521a66;
    background-color: rgba(82, 26, 102, 0.8);
    
    padding-top: 96px;
    padding-bottom: 120px;
}

.forestBg .littlePurple span{
    display: block;
    margin-bottom: 31px;
}


.article{
    position:relative;
    background-image: url(img/articleImage.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 670px;
    max-height: 60vh;
}

.fadeoutAlias{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    background-image: url(img/fadeoutAlias.png);
    background-position: center bottom;
    background-size: cover;
}

.article .article-title{
    position: absolute;
    bottom: 13%;
    left: 0;
    right: 0;
}

.article .article-title.row{
    margin-right: 0;
}

.author img{
    border-radius: 24px;
}
.author .name{
    margin-left: 15px;
}

.contact{
    padding-top: 78px;
    padding-bottom: 254px;
    
    background-color: #e7526b;
}

.contact a{
    text-decoration: underline;
}

footer{
    background-color: #2e3b4e;
    padding-top: 47px;
    padding-bottom: 310px;
}

footer p{
    font-size: 11px;
}