body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    height: 1px
}


#block-container{
    display: flex;
    height: 100%;

    overflow: hidden;
}

#block-container .block{
    height: 100%;
    transition-property: flex-basis;
    transition-duration: 0.2s;

    flex-grow: 1;

    transform: skew(-8deg);

    flex-basis: 33%;

    padding: 20px;

    transition-timing-function: ease-out;
}

.first{
    background-color: #a5191a;
    margin-left: -6%;
}
.second{
    background-color: #a54041;
}
.third{
    background-color: #a56564;
    margin-right: -6%;
}

#block-container.state-1 .first{
    flex-basis: 80%;
}
#block-container.state-1 .second{
    flex-basis: 10%;
}
#block-container.state-1 .third{
    flex-basis: 10%;
}

#block-container.state-2 .first{
    flex-basis: 10%;
}
#block-container.state-2 .second{
    flex-basis: 80%;
}
#block-container.state-2 .third{
    flex-basis: 10%;
}

#block-container.state-3 .first{
    flex-basis: 10%;
}
#block-container.state-3 .second{
    flex-basis: 10%;
}
#block-container.state-3 .third{
    flex-basis: 80%;
}