.interface {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    justify-content: space-around;
}

.square {
    position: relative;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square .squareContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cellGridWrapper {
    width: 76%;
}

.cellGridWrapper .content {
    position: absolute;
    width: 100%;
    height: 100%;
}

#cellGrid {
    display: grid;
    grid-gap: 1%;
}

.cell {
    opacity: .7;
    transition-property: opacity;
    transition-duration: .3s;
}

.cell.infected {
    opacity: 1;
}

.colorButtons {
    display: flex;
    max-width: 400px;
}

.colorButtons > * {
    margin: 0 1vw;
}
.colorButtons > *:last-child {
    margin-right: 0;
}
.colorButtons > *:first-child {
    margin-left: 0;
}

.colorButton {
    width: 20vw;
}

.cell.blue,
.colorButton .blue {
    background-color: blue;
}

.cell.green,
.colorButton .green {
    background-color: green;
}

.cell.orange,
.colorButton .orange {
    background-color: orange;
}

.cell.red,
.colorButton .red {
    background-color: red;
}


@media screen and (min-width: 800px) {
    .cellGridWrapper {
        max-width: 520px;
    }
  }


/*# sourceMappingURL=/game.d3945fda.css.map */