//myself changed vars
@navbar-inverse-bg:                #252222;
@navbar-margin-bottom:             0px;
@navbar-inverse-border:            none;

@portfolio-color: #65ba99;


//перед компиляцией в css надо будет удалить эту переменную
@icon-font-path:          "../fonts/";

//** Tooltip text color
@tooltip-color:               #000;
//** Tooltip background color
@tooltip-bg:                  #f4f4f4;
@tooltip-opacity:             .9;