@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-bebas: 'bebas_neue_regularregular';



#middleScreen{
    position: fixed;
    width: 100%;

    top:40vh;
    height: 20vh;

    //background-color: rgba(255, 153, 153, 0.8);
}

header{
padding-top: 33px;
padding-bottom: 33px;

background-color: #252222;
}

.navbar .navbar-brand{
    float: right;
    padding-bottom: 0px;
    padding-top: 0px;
    
    
    //возможно с этим стоит разобраться. Не хочет правильно выставлять высоту элементу.
    width: 36px;
    height: 36px;
    @media (min-width: @screen-md-min) {
        width: 84px;
        height: 49px;
    }
}

#hh-profile{
    display: block;
    width: 36px;
    height: 36px;
    
    background-image: url(../img/hh-min.png);
    
    @media (min-width: @screen-md-min) {
        background-image: url(../img/hh-full2.png);
        width: 84px;
        height: 49px;
    }
    
    
    
    background-size: 100%;
    background-repeat: no-repeat;
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


.portfolio{
    background-color: @portfolio-color;
    text-align: center;
}

.keywords {
    font-family: @font-bebas;
    font-size: 24px;
    text-transform: capitalize;
}

h1, h2{
    font-family: @font-bebas;
    text-transform: capitalize;
    font-size: 48px;
}

.portfolio .container{
    padding-top: 31px;
    padding-bottom: 102px;
}

.portfolio .container .hero{
    height: 100vh;
    width: 100vw;
    //vertical-align: middle;
    display: table-cell;
    vertical-align: middle;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
        height: 50vh;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        height: initial;
        width: initial;
        display: initial;
        vertical-align: initial;
    }
    
}

.works{
    padding-top: 48px;
}

.preview{
    text-align: left;
    position: relative;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    

    height: 255px;
    overflow: hidden;
}

.preview.small{
    
    @media (min-width: @screen-lg-min){
        height: 200px;
    }
    @media (min-width: @screen-md-min) {
        height: 170px;
    }
}

.description{

    //display: block;
    //background-color: rgba(102, 153, 153, 0.8);

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        display: none;
        background-color: inherit;
    }
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.preview:hover .description, .visible .description{
    display: block;
    background-color: rgba(102, 153, 153, 0.8);
}

.visible .description .text{
    left: 10px;
}

.visible .description .glyphicon{
    right: 5%;
}

.description span{
    color: white;
}

.description .text{
    display: block;
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: -50%;
    color: white;
    //text-transform: uppercase;
    font-size: 18px;
}

.description .glyphicon{
    position: absolute;
    right: -50%;
    top: 10%;
    font-size: 68px;
}

img{
    display: block;
    width: 100%;
}

footer{
    background-image: url(../img/contactBg.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    
    
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        padding-top: 38px;
        padding-bottom: 160px;
    }

    @media (max-width: @screen-xs-max) {
        height: 100vh;
    }
}

footer .container{
    @media (max-width: @screen-xs-max) {
        position: relative;
        height: 100%;
    }
}

footer .row{

    @media (max-width: @screen-xs-max) {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 5%;
        padding-right: 5%;
        bottom: 15%;

        margin-right: 0;
        margin-left: 0;
    }

    @media (max-width: 340px){
        bottom: 0;
    }
}

.number, .mail, address{
    display: inline-block;
    font-family: @font-bebas;
    text-transform: capitalize;
    color: white;
    font-size: 48px;
}

.number{
    margin-top: 70px;
}

address{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 27px;
}

.mail{
    display: block;
    font-size: 60px;
    @media (max-width: @screen-xs-max) {
        font-size: 40px;
    }
    border: 5px solid white;
    //padding-left: 125px;
    //padding-right: 125px;
    padding-top: 23px;
    padding-bottom: 25px;
}


