@charset "UTF-8";

/*
  Author: ✰ Mihail Garanin ✰

  File Structure :
    1.  Default styles
    	1.1 Button styles
	2.  Header styles
	3.  Section "Help" styles
	4.  Section "News" styles
	5.  Footer styles
	6.  Media adaptation
*/


/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("/assets/fonts/Roboto/RobotoRegular/RobotoRegular.eot");
	src: url("/assets/fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("/assets/fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("/assets/fonts/Roboto/RobotoLight/RobotoLight.eot");
	src: url("/assets/fonts/Roboto/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
	url("/assets/fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("/assets/fonts/Roboto/RobotoMedium/RobotoMedium.eot");
	src: url("/assets/fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("/assets/fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("/assets/fonts/Roboto/RobotoBold/RobotoBold.eot");
	src: url("/assets/fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
	url("/assets/fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/************************
  1. Default styles
************************/

@main-blue: #01a0e2;
@main-pink: #ea75aa;

body {
	color: #666666;
	font-family: 'RobotoRegular';
	font-size: 14px;
	font-weight: normal;
}

/* 1.1 Button styles */

a.btn {
				margin: 13px 0;
				padding-top: 15px !important;
    			padding-bottom: 15px !important;
				width: 200px;
				height: 34px;
				text-align: center;
				line-height: 0 !important;
				vertical-align: middle !important;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				color: #fff !important;
				font-size: 11px;
				text-transform: uppercase;
				text-decoration: none;
				border-width: 2px;
				border-radius: 18px;
				line-height: 0;
				&.need-help {
					margin-right: 14px;
					background: @main-blue;
					border-color: #A0E2FE;
					&:hover {
						background: lighten(@main-blue, 10%) !important;
						color: #fff !important;
					}
				}
				&.serve-help {
					margin-right: 0;
					background: @main-pink;
					border-color: #FCC0DB;
					&:hover {
						background: lighten(@main-pink, 10%) !important;
						color: #fff !important;
					}
				}
				&.view-all-reviews {
					margin-left: 14px;
					background: #ffffff;
					color: #666666 !important;
					border-color: #cccccc;
					&:hover {
						background: darken(#ffffff, 10%) !important;
						color: #666666 !important;
					}
				}
			}

.btn-read {	
					position: relative;
					margin-bottom: 64px !important;
					a.btn-read-list {
						position: relative;
						padding: 13px 30px;
						font-size: 15px;
						border-radius: 27px;
						text-transform: uppercase;
						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						box-sizing: border-box;
						color: #666666;
						text-decoration: none;
						background: #ffffff;
						z-index: 1;
						&:hover {
							background: #F7F7F7;
							}
					}
					a.opacitu {
						bottom: -20px;
						left: -7px;
						height: 61px;
						width: 296px;
						position: absolute;
						border: 5px solid #fff;
						opacity: .5;
					}
				}

/* 1.2 Animation css */

img.animation-css {
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
img.animation-css:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/************************
  2. Header styles
************************/
header {
				.nav-menu {
					margin: 0;
					font-style: 16px;
					background: #fff;
					border: 0;
				}
				.nav-list {
					.nav-list-item a {
						padding: 20px 70px 20px 0;
						font-size: 15px;
					}
				}
				.helpers {
					li { margin-right: 15px; }
			 	}
}

.head {
			background-image: url(../img/slider.png);
			img { margin: 47px 0 35px; }
			h1 {
				margin-bottom: 30px;
				margin-top: 0;
				font-family: "RobotoBold";
				font-size: 36px;
			}
			p {
				margin-bottom: 41px !important;
				font-size: 18px;
			}
}

/************************
  3. Section "Help" styles
************************/

.help {
			margin-bottom: 100px;
			text-align: center;
			h3 {
				margin: 50px 0 25px;
				font-family: "RobotoLight";
			}
			.texthelp p { margin-bottom: 50px; }
			.pichelp {
				img { margin-bottom: 30px; }
				p { 
					margin: 0;
					font-size: 16px;
					font-family: "RobotoLight";
				}
			}
}

/************************
  4. Section "News" styles
************************/

.news {
			h4 {
				margin-bottom: 20px;
			}
			.read-all { text-decoration: underline; }
			.articles-title {
				display: inline-block;
				margin-right: 38px;
			}
			.new_1 {
				margin-bottom: 25px;
				img { float: left; }
				.info {
					margin-left: 145px;
					time {
						display: block;
						font-size: 12px;
					}
					a { 
						font-size: 15px;
						text-decoration: underline;
					}
				} 
			}

			h4.topic {
				font-family: "RobotoMedium";
				font-size: 24px;
			}

			.first { margin-top: 30px; }
			
			.button {
				float: left!important;
				padding-left: 0;
			}
}

/************************
  4. Section "Reviews" styles
************************/

.reviews {
				margin-top: 20px;
				text-align: center;
				.col-md-3 { padding: 0 15px; }
				h3 {
					text-transform: uppercase;
					margin: 40px 0 60px;
					font-family: "RobotoLight";
					font-size: 30px;

				}
				.btns-bottom { margin: 45px 0; }
				.caption { 
					margin-top: 30px;
					h4 { font-family: "RobotoMedium"; }
					}
}

/************************
  5. Footer styles
************************/

footer {		
				background: #0b1f2c;
				color: #fff;
				line-height: 45px;
				.footer {
					span { float: right; }
					p { display: inline-block; }
				}
}




/************************
  6. Media adaptation
************************/


@media screen and (max-width: 768px) {
	.knopka_1 {
		margin-right: 0 !important;
	}
}
@media screen and (max-width: 1200px) {
	.head {
		h1 { font-size: 30px; }
		p { font-size: 16px; }	
	}
}
@media screen and (max-width: 991px) {
	a.btn {
		font-size: 11px;
	}
	header .nav-list .nav-list-item a {
		padding: 20px 15px;
		font-size: 15px;
	}
	.help .pichelp p {
		margin-bottom: 40px;
	}
	.help {
		margin-bottom: -40px;
	}
	.news .new_1 {
		margin-bottom: 60px;
	}
	.news h4.topic {
		margin-top: 110px !important;
		font-family: RobotoMedium;
		font-size: 24px;
	}
	.mobile { width: 200px !important; }
	.mobile-1 { width: 100% !important; }
	.caption { 
		margin-bottom: 40px;
		padding: 0 20px;
		 }
		 
}
@media screen and (max-width: 767px) {
	.mobile-1 {
		width: 100%;
	}
	.nav-list { text-align: center; }
	footer .footer p {
		display: block;
		text-align: center;
	}
	footer .footer span {
		float: none;
	    display: block;
	    text-align: center;
	}
}
@media screen and (min-width: 768px) and (max-width: 800px) {
	.footer {
					span { margin-right: 10px; }
					p { margin-left: 10px; }
				}
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* Retina-specific stuff here */

}