/*   ______  _                          ______
    / / / / | |                        / / / /
   / / / /  | |__   __ _ ___  ___     / / / /
  / / / /   | '_ \ / _` / __|/ _ \   / / / /
 / / / /    | |_) | (_| \__ \  __/  / / / /
/_/_/_/     |_.__/ \__,_|___/\___| /_/_/_/      */

body{
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

.sprite {
    background-image: url(../img/icons/flags.png);
    background-repeat: no-repeat;
    display: inline-block;

    vertical-align: middle;
}

.sprite.rus-flag {
    width: 16px;
    height: 13px;
    background-position: 0 0;
}

.sprite.us-flag {
    width: 16px;
    height: 13px;
    background-position: -16px 0;
}

img, svg{
  vertical-align: middle;
}

svg.rotate-180{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5{
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

h1{font-size: 30px;}
h2{font-size: 24px; margin-top: 17px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
h5{font-size: 16px;}

.inline{
  display: inline-block;
}


input, textarea, select{
  width: 100%;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;}
  input.wide-half, textarea.wide-half, select.wide-half{
    display: inline-block;
    width: 49%;}
  input.auto-size, textarea.auto-size, select.auto-size{
    display: inline-block;
    width: auto;}

.l-true-half .wide-half{
  width: 50%;
}


[type="radio"],
[type="checkbox"]{
      position: absolute;
      opacity: 0; }
label{
      display: inline-block; }
[type="radio"] + label:before,
[type="checkbox"] + label:before{
      display: inline-block;
      vertical-align: bottom;
      content: ' ';
      width: 22px;
      height: 22px;}
[type="radio"]:not(checked) + label:before,
[type="checkbox"]:not(checked) + label:before{
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'><path d='M0 0v22h22V0H0zm1 1h20v20H1V1z' fill='#a6a6a6'/></svg>");}
[type="radio"]:checked + label:before,
[type="checkbox"]:checked + label:before{
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'><g fill='#a6a6a6'><path d='M0 0v22h22V0H0zm1 1h20v20H1V1z'/><path d='M4 4h14v14H4z'/></g></svg>");}

table{
  width: 100%;
  border-collapse: collapse;}

  table tr{
    height: 53px;  }
  table tr:nth-child(odd){
  background-color: #efefef;}
  table tr:nth-child(even){
  background-color: #f7f7f7;}
  table tr td:nth-child(1){
    width: 44px;
    text-align: center;}
  table tr td:nth-child(2){
    text-align: left;}
  table tr td:nth-child(3){
      width: 170px;
      text-align: center;}

  .rounded-border{
    -webkit-border-radius: 4px;
            border-radius: 4px;
    overflow: hidden;}

.search-result table tr td:nth-child(1){
  position: relative;
}
.search-result table tr td:nth-child(1) input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}



/*    ______  _                         _         ______
     / / / / | |                       | |       / / / /
    / / / /  | | __ _ _   _  ___  _   _| |_     / / / /
   / / / /   | |/ _` | | | |/ _ \| | | | __|   / / / /
  / / / /    | | (_| | |_| | (_) | |_| | |_   / / / /
 /_/_/_/     |_|\__,_|\__, |\___/ \__,_|\__| /_/_/_/
                 __/ |
                |___/                                         */
.l-wrapper {
  width: 100%;
}

.l-left-aligned{
  float: left;
}

.l-right-aligned{
  float: right;
}

.l-relative-container{
  position: relative;
}

.l-line-list{
  display: inline-block;
  padding: 0;
  list-style: none;
}
.l-line-list li{
  display: inline-block;
}

.l-paddings{
  padding-right: 25px;
  padding-left: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-container{
  max-width: 1052px;
  margin-right: auto;
  margin-left: auto;}
  .l-container.l-right-block{
    display: inline-block;
    width: 100%;

    max-width: -webkit-calc(100% - 200px);

    max-width: calc(100% - 200px);
    min-height: 615px;}

.l-fixed-cont-width{
  max-width: 1028px;}
.l-fixed-half-cont-width{
  width: 475px;
}

.l-container.l-padding-for-bottom-button{
  position: relative;
  padding-bottom: 120px; }

.l-bottom-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 120px;
  line-height: 120px;
  vertical-align: middle;
}

header h3{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

header .l-container{
  padding-top: 12px;
  padding-bottom: 27px;
}

aside{
  display: inline-block;
  vertical-align: top;}

.l-top-logo{
  display: inline-block;
  margin-top: 5px;
}

.l-top-logo img{
  margin-top: -4px;
}

.l-right-text{
  text-align: right;
}
.l-center-text{
  text-align: center;
}
.l-left-text{
  text-align: left;
}

.l-filling-blocks{
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top; }
  .l-filling-blocks.third{
    width: 33%;
    width: 32.9vw; }
  .l-filling-blocks.third.square{
    height: 33vw }
  .l-filling-blocks.sixth{
    width: 16.65%;
    width: 16.46vw;}
  .l-filling-blocks.sixth.square{
    height: 16.6vw;}


.l-bottom-pagination{
  margin-top: 76px;
  margin-bottom: 50px;
}

.l-block{
  display: block;
}

nav{
  display: inline-block;
  max-width: 752px;
  float: right;
}

/*   ______                      _       _            ______
    / / / /                     | |     | |          / / / /
   / / / /   _ __ ___   ___   __| |_   _| | ___     / / / /
  / / / /   | '_ ` _ \ / _ \ / _` | | | | |/ _ \   / / / /
 / / / /    | | | | | | (_) | (_| | |_| | |  __/  / / / /
/_/_/_/     |_| |_| |_|\___/ \__,_|\__,_|_|\___| /_/_/_/      */

header{
  background: -webkit-gradient(linear, left top, right top, from(#01529c), color-stop(50%, #035daf), to(#01529c));
  background: -webkit-linear-gradient(left, #01529c 0%, #035daf 50%, #01529c 100%);
  background: linear-gradient(to right, #01529c 0%, #035daf 50%, #01529c 100%);
  color: white; }

header a{
  color: white;
  text-decoration: none; }
header a:visited{
  color: white;
  text-decoration: none;}

nav a{
  text-decoration: underline;
}

nav ul{
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0; }
nav ul a{
  padding-right: 12px;
  padding-left: 12px;
  vertical-align: top;
   }
nav ul li :first-child a{
  padding-right: 12px;
  padding-left: 0;}
nav ul li:last-child a{
  padding-right: 0px;
  padding-left: 12px;}

.fast-search{
  max-width: 181px; }
.fast-search form{
  position: relative;
  top: -3px;}
.fast-search input[type="text"]{
  max-width: 149px;
  height: 26px;
  vertical-align: middle;
  border: 1px solid #626262;
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;}
.fast-search button{
  display: inline-block;
  width: 22px;
  height: 26px;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #626262;
  border-right: 1px solid #626262;
  border-bottom: 1px solid #626262;
  background-color: #484848;
}

.service-links{
  min-width: 171px;
  font-family: 'Open Sans', sans-serif; }
  .service-links a{
    font-size: 14px; }


h2.page-title{
  text-transform: capitalize;
}


.button{
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-transform: uppercase;
  background-color: #ffdc04;
  border-bottom: 4px solid #f3d100;
  border-left: 3px solid #f3d100;
  border-right: 3px solid #f3d100; }
  .button.blue{
    background-color: #0269c6;
    border-color: #0257a5;
    color: white;}
  .button.fixed-wide-big{
      width: 315px; }

a.usual, a.usual:visited{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #017ac3;
  text-decoration: underline;}
a.black{
  color: black;
  text-decoration: none;}
  a.black:hover{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #017ac3;
    text-decoration: underline;  }

a.usual.darken, a.usual.darken:visited{
  color: #0256a3;
}

a.without-underline, a.without-underline:visited{
  text-decoration: none; }

.label{
  display: inline-block;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-decoration: none;}
  .label:visited{
    color: black; }
  .label.yellow{
    background-color: #ffdc04;
    margin: 5px; }
  .label.black{
    background-color: #012337;
    color: white;

  }


.carousel{
  overflow: hidden;
  display: inline-block;}
  .carousel ul{
    width: 10000px; }
  .carousel li{
    width: 141px;
    text-align: center;
    padding-right: 17px;
    padding-left: 17px; }
  .carousel li img{
    vertical-align: middle; }
  .carousel li a, .carousel li a:visited{
    font-size: 12px;
    color: #0269c9;}

button.carousel-button{
  display: inline-block;
  vertical-align: top;
  height: 128px;
  width: 5%;
  width: -webkit-calc((100% - 1052px) / 2);
  width: calc((100% - 1052px) / 2);
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;}
  button.carousel-button img{
    height: 55px;
  }
  button.carousel-button.left img{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  button.carousel-button:hover{
    background-color: rgba(245, 245, 245, 0.7);;
    outline: none;
    border: 0; }

.index{
  background-image: url(../img/main-bg-image.jpg);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  padding-top: 20px; }
.index:after{
  background-image: url(../img/main-texture.png);
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .index .l-container{
    position: relative;
    z-index: 2;
  padding-bottom: 46px;}

.index article{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  max-width: 515px; }
  .index article .button{
    width: 240px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;}

.index-news{
  padding-top: 20px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;}

.log-auth{
  display: inline-block;
  max-width: 370px;
  margin-right: 22px;
  position: relative;}

  .log-auth li{
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-top-left-radius: 6px;
            border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
            border-top-right-radius: 6px;
    padding-right: 16px;
    padding-left: 16px;}
  .log-auth form{
    display: none;
    height: 278px;
    min-width: 316px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    padding-top: 24px;
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
  }
  .log-auth input{

    margin-top: 23px; }

  .log-auth p{
    margin-top: 25px;
    margin-bottom: 18px;
    margin-left: 18px;
    margin-right: 18px; }
  .log-auth button{
    width: 100%; }




.login form{
  padding-top: 24px;
  height: 302px;
  }

.registration-tab form{
  padding-top: 24px;
  height: 302px}
.registration-tab form p{
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.registration-tab input{
  margin-top: 5px;
  margin-bottom: 0px;
  height: 39px; }
.registration-tab .send-code{
  margin-bottom: 17px; }
.registration-tab button{
  margin-top: 16px; }

.news-block{
  position: relative;
  margin-bottom: 7px;
  overflow: hidden;}
  .news-block a, .news-block a:visited{
    text-decoration: none;}
  .news-block img{
   position: absolute;
   height: 100%;
   z-index: -1; }
   .news-block a h3, .news-block a h4{
     width: 100%;
     margin: 0;
     height: 129px;
     padding-top: 35px;
     padding-bottom: 24px;
     padding-left: 40px;
     padding-right: 40px;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     background-color: rgba(1, 122, 195, 0.5);
     color: white;
     text-decoration: underline;}
   .news-block a h4, .news-block a:visited h4{
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -webkit-align-items: center;
         -ms-flex-align: center;
             align-items: center;
     text-decoration: none;
     height: 100%}

  .news-block .label{
    position: absolute;
    height: 22px;
    line-height: 22px;
    margin: 0;
    bottom: 39px; }
  .news-block .label.tag{
    left: 32px;}
  .news-block .label.date{
      position: absolute;
      font-size: 16px;
      vertical-align: middle;
      bottom: 39px;
      right: 26px;}
  .news-block .label.date:before{
    content: " ";
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='18' viewBox='0 0 18 18' width='18'><path d='M9 0C4.05 0 0 4.05 0 9s4.05 9 9 9 9-4.05 9-9-4.05-9-9-9zm0 16.2c-3.96 0-7.2-3.24-7.2-7.2S5.04 1.8 9 1.8s7.2 3.24 7.2 7.2-3.24 7.2-7.2 7.2zm.45-11.7H8.1v5.4l4.68 2.88.72-1.17-4.05-2.43V4.5z' fill='#fff' fill-opacity='.9' fill-rule='evenodd'/></svg>");
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 11px;
    font-weight: 500;  }

footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#01529c), color-stop(50%, #035daf), to(#01529c));
  background: -webkit-linear-gradient(left, #01529c 0%, #035daf 50%, #01529c 100%);
  background: linear-gradient(to right, #01529c 0%, #035daf 50%, #01529c 100%);
  padding: 22px;
  color: white; }
  footer a, footer:visited{
    color: white;
    text-decoration: none;}
  footer a:hover{
    text-decoration: underline;  }
  footer p{
    display: inline-block;
    margin: 0;
  max-width: 320px;}
  footer em{
    //position: absolute;
    padding-top: 25px;
    white-space: nowrap;}
  footer em img{
    margin-left: 13px; }
  footer ul{
    padding: 0;
    margin: 0;
    vertical-align: top;
    margin-left: auto;}

  footer li{
    margin-left: 34px;}

  footer li svg{
    margin-right: 6px; }

  footer .logo{
    display: inline-block;
    margin-left: auto;}

.breadcrumbs{
  display: block;
}
  .breadcrumbs::before{
    content: " ";
    display: inline-block;
    width: 11px;
    height: 17px;
    margin-right: 16px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11.246' height='17' viewBox='0 0 11.246 17'><path d='M5.623 0A5.63 5.63 0 0 0 0 5.623c0 1.249.797 3.285 2.438 6.225a68.24 68.24 0 0 0 2.35 3.885L5.622 17l.836-1.267a68.145 68.145 0 0 0 2.35-3.885c1.64-2.94 2.437-4.976 2.437-6.225A5.63 5.63 0 0 0 5.623 0zm0 8.5a2.915 2.915 0 1 1 0-5.83 2.915 2.915 0 0 1 0 5.83z' fill='#0256a2'/></svg>");
  }
  .breadcrumbs .usual, .breadcrumbs .usual:visited{
    color: #0256a3; }

  .breadcrumbs li{
    margin: 0;
    padding: 0;
  }
  .breadcrumbs li::before{
    display: inline-block;
    margin-right: 5px;
    content: '/';}
  .breadcrumbs li:first-child::before{
    display: none;
  }

.month-select .usual, .month-select .usual:visited{
  color: #0256a4;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.news article{
  max-height: 236px;
  position: relative;
  margin-bottom: 29px;}
  .news article > figure, .news-full figure{
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 301px;
    height: 236px;
    margin: 0;
    padding: 0;
    overflow: hidden;}
    .news article > figure img, .news-full figure img{
      position: absolute;
      top: -25%;
      left: -25%;
      min-width: 301px;
      min-height: 236px;
    }
  .news article section{
    display: inline-block;
    position: relative;
    width: 680px;
    padding-left: 24px;
    height: 236px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    width: -webkit-calc(100% - 306px);
    width: calc(100% - 306px); }
    .news article section:after{
      display: block;
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 1)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%); }
   .news article h3 {
     margin-top: 8px;
     margin-bottom: 23px; }
   .news article p{
     font-size: 14px; }
   .news article .date{
     font-weight: 500;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; }
.news-full figure{
  float: left;
  margin-right: 42px;
  margin-bottom: 29px; }
  .news-full p{
    margin: 0;}

figure .label{
    position: absolute;
    bottom: 18px;
    left: -5px;
    z-index: 10;}

.pagination .forward, .pagination .return{
  font-weight: bold; }
  .pagination .forward:after, .pagination .return:before{
  content: ' ';
  display: inline-block;
  width: 19px;
  height: 15.335px;
  margin-bottom: -3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='15.335' viewBox='0 0 19 15.335' width='19'><path d='M.95 8.618h14.807l-5.096 5.095a.95.95 0 1 0 1.343 1.344l6.718-6.718a.959.959 0 0 0 .118-.144c.016-.024.027-.05.04-.075.016-.03.035-.058.047-.089.014-.032.021-.065.03-.098.009-.027.019-.052.024-.079A.95.95 0 0 0 19 7.668v-.002a.956.956 0 0 0-.019-.184c-.005-.029-.016-.055-.024-.083-.01-.032-.017-.064-.03-.094-.013-.033-.032-.063-.05-.094-.012-.024-.022-.048-.037-.07a.936.936 0 0 0-.119-.146L12.004.28a.95.95 0 0 0-1.343 1.343l5.095 5.096H.95a.95.95 0 0 0 0 1.9z' fill='#0256a3'/></svg>");}
  .pagination .forward:after{
    margin-left: 31px;  }
  .pagination .return:before{
    margin-right: 31px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);}

.contacts section{
  display: inline-block;
}

.contacts section .coords{
  margin-left: 25px;
  margin-top: 50px;
}

.contacts form{
  float: right;
  width: 519px;
  background-color: #f5f5f5;
  text-align: center;
  padding-left: 31px;
  padding-right: 28px;
  padding-bottom: 25px;
  margin-bottom: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;}
  .contacts form h5{
    width: 100%;
    text-align: left;
  }
  .contacts form input{
    margin-bottom: 17px;}
  .contacts form textarea{
    max-width: 100%;
    min-height: 281px }
  .contacts form button{
    margin-top: 14px;
    width: 60%;
    min-width: 276px;
  }


form.full-page{
  margin-top: 18px;
  background-color: #f2f2f2;
  padding-left: 38px;
  padding-right: 42px;
  padding-top: 42px;
  padding-bottom: 55px;
  -webkit-border-radius: 5px;
          border-radius: 5px;

  text-align: center;}
  form.full-page input, form.full-page label{
    margin-bottom: 27px;
  }
  form.full-page [type=submit]{
    margin-top: 59px;
    width: 315px; }
    form.full-page .margin-in-center .wide-half{
      width: 441px;
      width: -webkit-calc((100% / 2) - 18px );
      width: calc((100% / 2) - 18px );
    }
    form.full-page .margin-in-center input:nth-child(odd){
      margin-right: 27px;}
  form.full-page [type="radio"] + label:before,
  form.full-page [type="checkbox"] + label:before{
    margin-right: 13px; }
  form.full-page label{
          margin-right: 33px;}

aside.left-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 68px; }
  aside.left-menu li{
    width: 188px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
  aside.left-menu a, aside.left-menu a:visited{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 22px;
    padding-left: 16px;
    padding-bottom: 22px;
    font-size: 14px;
    color: #0256a3;}
  aside.left-menu .missed{
    display: inline-block;
    position: relative;
    background-color: red;
    float: right;
    margin-right: 32px;
    padding-left: 8px;
    padding-right: 11px;
    height: 24px;
    max-width: 40px;
    line-height: 24px;
    vertical-align: middle;
    white-space: nowrap;

    -webkit-border-radius: 3px;

            border-radius: 3px;
    font-weight: bold;

    background-color: rgba(2, 90, 171, 0.2);}
  aside.left-menu .missed:before{
    display: inline-block;
    content: '+ ';

  }



.search-result .table-header{
  margin-bottom: 7px;
  margin-right: 15px;}
  .search-result .table-header .result-filter{
    position: absolute;
    bottom: 0;
    right: 0;
  color: #0257a5}


.registration .l-container,
.password-recovery .l-container{
  max-width: 473px;
  padding-bottom: 43px;
  text-align: center; }
  .registration form input{
    margin-top: 0;
    margin-bottom: 17px; }
  .registration form button{
    margin-top: 34px;}

.registration.phone p{
  text-align: left;
  margin-top: 35px;
  margin-bottom: 24px; }

.registration.phone input{
  margin-bottom: 0;
}

.registration.phone input[name="phoneNumber"]{
  font-weight: bold;
  font-size: 18px;}

.registration.phone #change-phone{
  position: absolute;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-right: 15px;
  right: 0;
  top: 0;
  bottom: 0; }

.registration.phone button{
  margin-top: 45px; }


.password-recovery input{
  margin-top: 8px; }
.password-recovery button{
  margin-top: 45px; }
.password-recovery p{
  text-align: left;}


.popup{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);;
  opacity: 1;
  z-index: 20;}
  .popup .frame{
    position: absolute;
    left: 50%;
    top: 25%;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: white;
    z-index: 21;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .popup h5{
    //height: 109px;
    padding-top: 21px;
    padding-bottom: 21px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;}
  .popup a, .popup button{
    margin-top: 9px;
  }


/*   ______      _        _             ______
    / / / /     | |      | |           / / / /
   / / / /   ___| |_ __ _| |_ ___     / / / /
  / / / /   / __| __/ _` | __/ _ \   / / / /
 / / / /    \__ \ || (_| | ||  __/  / / / /
/_/_/_/     |___/\__\__,_|\__\___| /_/_/_/                    */

.log-auth li.is-active{
  background-color: rgba(255, 255, 255, 0.7);
  }
  .log-auth .is-active form{
    display: block;  }

aside.left-menu a.is-active::before , aside.left-menu a:hover::before{
  display: inline-block;
  content: ' ';
  background-color: #025aab;
  position: absolute;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.07;
}

.month-select li.selected{
  background-color: #0256a4;
  color: white; }

body.is-smaller-then-screen{
  position: relative;
  height: 100vh;}
  body.is-smaller-then-screen footer{
    position: absolute;
    bottom: 0;}

table tr:hover{
  background-color: #f0eede;
}

.popup.is-visible{
  display: block;
}
