/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.icon {
  display: inline-block;
}

.icon-arrow-back {
  background-image: url(../img/sprite.png);
  background-position: -90px -85px;
  width: 29px;
  height: 29px;
}
.icon-group {
  background-image: url(../img/sprite.png);
  background-position: -133px -85px;
  width: 16px;
  height: 16px;
}
.icon-hamburger {
  background-image: url(../img/sprite.png);
  background-position: 0px -85px;
  width: 90px;
  height: 90px;
}
.icon-helpSymb {
  background-image: url(../img/sprite.png);
  background-position: -119px -85px;
  width: 14px;
  height: 26px;
}
.icon-logo {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 175px;
  height: 85px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -149px -85px;
  width: 13px;
  height: 15px;
}
