/**************************************************************************
    ____   ___    _____  ______
   / __ ) /   |  / ___/ / ____/
  / __  |/ /| |  \__ \ / __/   
 / /_/ // ___ | ___/ // /___   
/_____//_/  |_|/____//_____/   
                               
****************************************************************************/
html, body {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

body{
    margin: 0;
    font-size: 18px;
    overflow: hidden;
}

.icon {
  display: inline-block;
}

#top-panel {
    //height: 74px;
    margin: 0;
    background-color: white;
    
    position: relative;
    
    //position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 28%;
    
    //z-index: 50;
}

#menu{
    //padding-left: 9.3%;
    text-align: left;
    width: 42%;
    padding-left: 5%;
}
.menu__text {
    vertical-align: middle;
    padding-left: 0px;
}

.top-panel__elem {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    height: 100%;
    line-height: 35px;
    //line-height: 10.9vw;
    
    font-family: 'pt_sansbold';
    text-align: center;
    color: black;
    text-decoration: none;
}

.top-panel__elem:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.top-panel__elem:visited{
    color: black;
    text-decoration: none;
}

.phoneNum {
    text-align: right;
    //padding-left: 9.3%;
    //padding-right: 20px;
    float: right;
    
    white-space: nowrap;
}

.phoneNum a{
    color:black;
    text-decoration: none;
}
.phoneNum a:visited{
    color: black;
}



#icon-logo {
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -111px;
    background-color: white;
    
    //margin-left: auto;
    //margin-right: auto;
    z-index: 200;
    
    text-align: center;
    
    padding-top: 5px;
    
    border-left: 24px solid white;
    border-right: 24px solid white;
    border-bottom: 0;
    
}

.sticky__fixed{
    position: fixed;
    
    transition-property: background-color;
    transition-duration: 1s;
    //transition-property: border-bottom;
    //transition-duration: 1s;
    
    
    background-color: rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.82);
    top: 0;
    left: 0;
    right: 0;
}


#menu-list{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    overflow-y: scroll;
    
    padding-top: 25px;
    text-align: center;
    z-index: 500;
    
    background-color: rgba(0,0,0, 0.8);
    display: none;
}

#menu-list ul{
    list-style: none;
    font-family: 'pt_sansbold';
    font-size: 24px;
    color: white;
    padding-left: 0;
    margin: 0;
}

#menu-list li{
    padding-top: 16px;
    padding-bottom: 12px;
    
    border-top: 1px solid #626265;
    display: none;
}

#menu-list a{
    text-decoration: none
}

#menu-list a.active{
    text-decoration: underline;
}

a:visited{
    color: white;
}

#menu__closer{
    position: absolute;
    height: 150px;
    right: 0;
    left: 0;
}

.icon-controller{
    position: relative;
}

#menu-list  .icon-controller .icon{
    position: absolute;
    left: -67px;
}

.menu__expanded{
        display: none;
        width: 84%
}

.menu__expanded .top-panel__elem{
    width: 24%;
}

.activity__container{
    height: 73%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.activity-part {
    position: relative;
    background-image: url(../img/BgBuildingSmall.jpg);
    background-size: cover;
    margin: 0;
    text-align: center;
    height: 49%;
    
    //padding-bottom: 110px;
}

.separate {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 200;
    overflow: hidden;
    height: 100%;
    width: 90px;
    margin-left: -45px;
    
}

.separate:before,
.separate:after{
    content: "";
    display: block;
    width: 6px;
    background-color: white;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.separate:after{
    position: relative;
    top: -10px;
}

.separate .icon {
    //margin-left: -45px;
}

.develope{
    //margin-top: 255px;
    //padding-top: 120px;
    background-image: url(../img/BgBuildingSmall.jpg);
}
.sell{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //margin-top: 6px;
    //padding-top: 130px;
    background-image: url(../img/BgSellingSmall.jpg);
}

h2{
    margin: 0;
    font-size: 32px;
    font-family: 'helveticaneuecyrbold';
    color: #fff;
    text-shadow: 0 1px 1px black;
    
    display: inline-block;
}
.h2-vert-center{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}



.develope h2{
    //padding-bottom: 43px;
}

.sell h2{
    //font-size: 43px;
    //padding-bottom: 70px;
}

.activity-part p{
    display: none;
    margin-left: 9.3%;
    margin-right: 9.3%;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    font-family: 'helveticaneuecyrlight';
    
    
    background-color: #f3f4fb;
    background-color: rgba(243,244,251,0.75);
}

.activity__link{
    display: block;
    background-color: initial;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.activity__link:visited{
    color: white;
}



#sticky{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.vert-center{
    display: inline-block;
    vertical-align: middle;
    width: 98%;
}

/********************************************


    ______ ____   ____   ____  _  __    __  ___ ____ _   __   __  __
   / ____// __ \ / __ \ / __ \| |/ /   /  |/  //  _// | / /  / / / /
  /___ \ / / / // / / // /_/ /|   /   / /|_/ / / / /  |/ /  / /_/ / 
 ____/ // /_/ // /_/ // ____//   |   / /  / /_/ / / /|  /  / __  /  
/_____/ \____/ \____//_/    /_/|_|  /_/  /_//___//_/ |_/  /_/ /_/   
                                                                    


********************************************/

@media screen and (min-height: 500px){
    #top-panel{
        height: 136px;
    }
    
    .activity__container{
        height: auto;
        top: 136px;
    }
}

/****************************************************


    __  ___ ____ _   __   _____  _____  ____   ____  _  __
   /  |/  //  _// | / /  |__  / / ___/ / __ \ / __ \| |/ /
  / /|_/ / / / /  |/ /    /_ < / __ \ / / / // /_/ /|   / 
 / /  / /_/ / / /|  /   ___/ // /_/ // /_/ // ____//   |  
/_/  /_//___//_/ |_/   /____/ \____/ \____//_/    /_/|_|  
                                                          


*****************************************************/
@media screen and (min-width: 360px){
    
    
    
    #menu-list li{
    padding-top: 33px;
    padding-bottom: 24px;
    }
    
    #top-panel {
    //height: 181px;
    }
    
    #menu{
        width: 49%;
    }
    
    .top-panel__elem {
    }
    
    h2{
        font-size: 53px;
    }
}


/************************************************************
*************************************************************/
@media screen and (min-width: 542px){
    .phoneNum{
        padding-right: 1vw;
    }
}

@media screen and (min-width: 412px){
    
    .h2-vert-center{
        //display: none;
    }
    
    h2 br{
        display: none;
    }
    
    h2{
        font-size: 46px;
        //line-height: 85px;
        vertical-align: middle;
        
        padding-top: 40px;
    }
    
    .activity-part p{
        display: block;
        margin-top: 2.13vh;
    }
}

@media screen and (max-height: 370px){
    .activity-part p{
        display: none;
    }
}

/********************************************


    __  ___ ____ _   __   _____ _____  ____   ____  _  __
   /  |/  //  _// | / /  / ___/|__  / / __ \ / __ \| |/ /
  / /|_/ / / / /  |/ /  / __ \  /_ < / / / // /_/ /|   / 
 / /  / /_/ / / /|  /  / /_/ /___/ // /_/ // ____//   |  
/_/  /_//___//_/ |_/   \____//____/ \____//_/    /_/|_|  
                                                         


********************************************/
@media screen and (min-width: 630px){
    #top-panel{
        height: 74px;
    }
    
    
    .activity__container{
        height: auto;
        top: 74px;
    }
    
    .top-panel__elem{
        //display: inline-block;
        width: 49%;
    }
    
    #menu{
        text-align: left;
        padding-left: 9.3%;
        //text-align: center;
    }
    
    .phoneNum {
        //text-align: right;
        padding-left: 0;
        text-align: right;
    padding-left: 9.3%;
    padding-right: 20px;
    }
    
    .menu__text {
        padding-left: 14px;
    }
    
    #top-panel {
        position: fixed;
        height: 74px;
        z-index: 500;
    }
    
    #icon-logo {
        position: absolute;
    //top: 8px;
    //left: 50%;
        margin-left: -111px;
        padding-top: 0;
        border-bottom: 12px solid white;
    }
        
    #menu-list{
    top: 0;
    padding-top: 125px;
    }
    
    .develope{
        //margin-top: 74px;
    }
    
    .sell{
        background-image: url(../img/BGsellingBig.jpg);
    }
    
    .develope{
        background-image: url(../img/BGbuildingBig.jpg);
    }
    
    h2{
        font-size: 48px;
    }
}

@media screen and (min-width: 630px) and (orientation: portrait){
    h2{
        font-size: 56px;
    }
}


/*********************************************************


  _____    ____   _____  _______  _____             _____  _______ 
 |  __ \  / __ \ |  __ \|__   __||  __ \     /\    |_   _||__   __|
 | |__) || |  | || |__) |  | |   | |__) |   /  \     | |     | |   
 |  ___/ | |  | ||  _  /   | |   |  _  /   / /\ \    | |     | |   
 | |     | |__| || | \ \   | |   | | \ \  / ____ \  _| |_    | |   
 |_|  __  \____/ |_|__\_\__|_| _ |_|  \_\/_/_   \_\|_____|   |_|   
 |  \/  | / __ \ |  _ \|_   _|| |     |  ____|                     
 | \  / || |  | || |_) | | |  | |     | |__                        
 | |\/| || |  | ||  _ <  | |  | |     |  __|                       
 | |  | || |__| || |_) |_| |_ | |____ | |____                      
 |_|  |_| \____/ |____/|_____||______||______|                     
                                                                   
                                                                   
**********************************************************/
@media screen  and (max-width: 1023px) and (orientation: landscape){
    .activity-part{
        height: 100%;
        width: 49%;
    }
    
    .sell{
        right: 0;
        left: auto;
    }
    
    h2{
        font-size: 32px;
    }
    
    
}

/********************************************************


    __  ___ ____ _   __   ___ ____  ___   _____  ____  _  __
   /  |/  //  _// | / /  <  // __ \|__ \ |__  / / __ \| |/ /
  / /|_/ / / / /  |/ /   / // / / /__/ /  /_ < / /_/ /|   / 
 / /  / /_/ / / /|  /   / // /_/ // __/ ___/ // ____//   |  
/_/  /_//___//_/ |_/   /_/ \____//____//____//_/    /_/|_|  
                                                            


*********************************************************/

@media screen and (min-width: 1023px){
    .activity-part {
        display: table-cell;
        position: relative;
        //padding-top: 334px;
        vertical-align: middle;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    h2, .sell h2, .develope h2{
        padding-bottom: 52px;
        font-size: 72px;
    }
    
    h2 br{
        display: inline;
    }
    
    #icon-logo{
        margin-left: -99px;
        border-left-width: 12px;
        border-right-width: 12px;
    }
    
    .activity__container {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
        overflow: hidden;
    }
    
    .activity-part p{
        display: block;
        font-size: 24px;
        margin-top: 18px;
    }
    
    
    .activity__link{
    display: block;

    line-height: 88px;
    vertical-align: middle;
    background-color: #119731;
        
    position: absolute;
        bottom: 0;
        top: auto;
    
    color: white;
    font-size: 20px;
    font-family: 'pt_sansbold';
    text-decoration: none;
    }
    
    .sell .activity__link{
    background-color: #656460;
    }
    
    .separate {
        display: table-cell;
    }
    
    #menu{
        display: none;
    }
    
    .menu__expanded{
        display: inline-block;
    }
    
    .menu__expanded .top-panel__elem{
        width: 33%;
    }
    
    .menu__expanded .top-panel__elem:nth-child(1){
        width: 23%
    }
    
    .menu__expanded .top-panel__elem:nth-child(2){
        text-align: left;
    }
    
    .menu__expanded .top-panel__elem:nth-child(3){
        text-align: right;
        width: 42%;
    }
    
    .phoneNum{
        width: 15%;
        padding-left: 0;
        text-align: center;
    }
    
    .phoneNum .menu__text{
        padding-left: 4px;
    }
    
    .help{
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -65px;
        right: 0;
        //margin-right: -2%;
        background-color: black;
        height: 130px;
        height: 6.66vw;
        width: 64px;
        width: 3.33vw;
        border-radius: 65px 0 0 65px;
        line-height: 130px;
        line-height: 6.66vw;
        
        vertical-align: middle;
        font-family: 'pt_sansbold';
        text-align: left;
        //padding-left: 36px;
    }
    
    .help:hover{
        
        transition-property: width;
        transition-duration: 0.3s;
        
        width: 96px;
        width: 5vw;
    }
    
    .help .icon{
        vertical-align: middle;
        margin-left: 15px;
    }
    
    .h2-vert-center{
        display: none;
    }
}

/**********************************************************


    __  ___ ____ _   __   ___ ____   ______ ___    ____  _  __
   /  |/  //  _// | / /  <  // __ \ / ____/|__ \  / __ \| |/ /
  / /|_/ / / / /  |/ /   / // / / //___ \  __/ / / /_/ /|   / 
 / /  / /_/ / / /|  /   / // /_/ /____/ / / __/ / ____//   |  
/_/  /_//___//_/ |_/   /_/ \____//_____/ /____//_/    /_/|_|  
                                                              

***********************************************************/
@media screen and (min-width: 1052px){
    
    #icon-logo{
        margin-left: -111px;
        border-left-width: 24px;
        border-right-width: 24px;
    }
    
    .phoneNum .menu__text{
        padding-left: 14px;
    }
    
}

/*********************************************************


    __  ___ ____ _   __   ___ ______ _____ __ __   ____  _  __
   /  |/  //  _// | / /  <  // ____//__  // // /  / __ \| |/ /
  / /|_/ / / / /  |/ /   / //___ \    / // // /_ / /_/ /|   / 
 / /  / /_/ / / /|  /   / /____/ /   / //__  __// ____//   |  
/_/  /_//___//_/ |_/   /_//_____/   /_/   /_/  /_/    /_/|_|  
                                                              

************************************************************/

@media screen and (min-width: 1574px){
    .help{
        margin-right: 0;
    }
    
    .help .icon{
        margin-left: 36px;
    }
    
    h2 br{
    display: none;
    }
}


