@charset "UTF-8";
.icon, .pagination__prev:before, .pagination__next:after {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle; }
  .icon--news {
    width: 19px;
    height: 19px;
    background-image: url(../icons/icon-news2.png); }
  .icon__views {
    width: 18px;
    height: 12px;
    background-image: url(../icons/icon__eye--small.png); }
    .icon__views--black {
      background-image: url(../icons/icon__views--black.png);
      width: 20px;
      height: 12px; }
  .icon--organization {
    width: 20px;
    height: 22px;
    background-image: url(../icons/organization--small.png); }
  .icon__v {
    width: 28px;
    height: 18px;
    background-image: url(../icons/icon__v--bottom.png); }
    .icon__v--left {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .icon__v--right {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .icon__building {
    width: 28px;
    height: 23px;
    background-image: url(../icons/icon__building--small.png); }
  .icon__arrow, .pagination__prev:before, .pagination__next:after {
    background-image: url(../icons/arrow__right--black.png);
    width: 19px;
    height: 15px; }
    .icon__arrow--green, .pagination__next:after {
      width: 19px;
      height: 15px;
      margin-left: 9px;
      background-image: url(../icons/arrow__right--green.png); }
    .icon__arrow--left, .pagination__prev:before {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .icon__download {
    width: 13px;
    height: 14px;
    background-image: url(../icons/icon-download.png); }
  .icon__3d {
    background-image: url(../icons/icon-3d.png);
    width: 23px;
    height: 23px; }
  .icon__vacancy {
    background-image: url(../icons/icon-vacancy.png);
    width: 30px;
    height: 30px; }
  .icon__expand {
    background-image: url(../icons/icon-expand.png);
    width: 14px;
    height: 12px; }
    .icon__expand--minimize {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .icon__expand--green {
      background-image: url(../icons/icon__expand--green.png);
      width: 12px;
      height: 10px; }
  .icon__phone {
    background-image: url(../icons/icon__phone--small.png);
    width: 13px;
    height: 15px; }
  .icon__mail {
    background-image: url(../icons/icon__email--small.png);
    width: 17px;
    height: 12px; }
  .icon__stationery {
    background-image: url(../icons/icon-sells.png);
    width: 23px;
    height: 26px; }
  .icon__tenders {
    background-image: url(../icons/icon-tenders.png);
    width: 32px;
    height: 26px; }
  .icon__doc--doc {
    background-image: url(../icons/icon__doc--doc.png);
    width: 26px;
    height: 24px; }
  .icon__doc--pdf {
    background-image: url(../icons/icon__doc--pdf.png);
    width: 26px;
    height: 24px; }
  .icon__mortgage {
    background-image: url(../icons/icon-mortgage.png);
    width: 23px;
    height: 23px; }
  .icon__partners {
    background-image: url(../icons/icon__partners.png);
    width: 44px;
    height: 25px; }
  .icon__feedback {
    background-image: url(../icons/icon__feedback.png);
    width: 36px;
    height: 26px; }
  .icon__upload {
    background-image: url(../icons/icon__upload.png);
    width: 24px;
    height: 18px; }
    .icon__upload--2 {
      background-image: url(../icons/icon__upload--2.png);
      width: 16px;
      height: 16px; }

/*миксин для поля ввода. Подаем 1 если хотим сделать видимым, иначе 0*/
.feedback-form__field, .calc__field {
  display: block;
  width: 100%;
  vertical-align: middle;
  border: 1px solid #b8b8b8;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 17px;
  margin-bottom: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*для показа плэйсхолдера в поле ввода*/ }
  .feedback-form__field:focus, .calc__field:focus {
    outline: none;
    /*для сокрытия плэйсхолдера в поле ввода*/ }
    .feedback-form__field:focus::-webkit-input-placeholder, .calc__field:focus::-webkit-input-placeholder {
      color: auto;
      opacity: 0; }
    .feedback-form__field:focus::-moz-placeholder, .calc__field:focus::-moz-placeholder {
      color: auto;
      opacity: 0; }
    .feedback-form__field:focus::-ms-input-placeholder, .calc__field:focus::-ms-input-placeholder {
      color: auto;
      opacity: 0; }
  .feedback-form__field::-webkit-input-placeholder, .calc__field::-webkit-input-placeholder {
    color: #989898;
    opacity: 1; }
  .feedback-form__field::-moz-placeholder, .calc__field::-moz-placeholder {
    color: #989898;
    opacity: 1; }
  .feedback-form__field::-ms-input-placeholder, .calc__field::-ms-input-placeholder {
    color: #989898;
    opacity: 1; }
  .feedback-form__field--textarea {
    min-height: 123px;
    max-height: 280px;
    max-width: 100%; }
  .feedback-form__field--order-form {
    height: 50px;
    line-height: 50px;
    padding-left: 42px;
    padding-right: 42px;
    border: 2px solid #646464;
    margin-top: 0;
    margin-bottom: 24px;
    -webkit-box-shadow: inset 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
    /*для показа плэйсхолдера в поле ввода*/ }
    .feedback-form__field--order-form::-webkit-input-placeholder {
      color: black;
      opacity: 1; }
    .feedback-form__field--order-form::-moz-placeholder {
      color: black;
      opacity: 1; }
    .feedback-form__field--order-form::-ms-input-placeholder {
      color: black;
      opacity: 1; }

.feedback-form__column {
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  padding-left: 25px;
  padding-right: 25px; }

.feedback-form__button {
  display: block;
  display: inline-block;
  background-color: #55963d;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 217px;
  height: 54px;
  border: 0;
  vertical-align: middle;
  line-height: 54px;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 3px 3px 3px #9f9f9f;
          box-shadow: 3px 3px 3px #9f9f9f; }
  .feedback-form__button--big {
    width: 100%;
    font-size: 16px;
    font-weight: bold; }
  .feedback-form__button--small {
    font-weight: normal;
    font-size: 16px; }
  .feedback-form__button--no-shadow {
    -webkit-box-shadow: none;
            box-shadow: none; }

.feedback-form__upload-file {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  text-align: left;
  vertical-align: middle; }
  .feedback-form__upload-file .label {
    color: #55963d;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer; }
  .feedback-form__upload-file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.01;
    font-size: 150px;
    height: 20px;
    z-index: 20;
    cursor: pointer; }
    .feedback-form__upload-file input::-webkit-file-upload-button {
      cursor: pointer;
      width: 100%;
      height: 20px; }

.feedback-form__container {
  display: inline-block; }

.order-form__field:focus {
  outline: none;
  /*для сокрытия плэйсхолдера в поле ввода*/ }
  .order-form__field:focus::-webkit-input-placeholder {
    color: auto;
    opacity: 0; }
  .order-form__field:focus::-moz-placeholder {
    color: auto;
    opacity: 0; }
  .order-form__field:focus::-ms-input-placeholder {
    color: auto;
    opacity: 0; }

.order-form__button {
  display: block;
  display: inline-block;
  background-color: #55963d;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 217px;
  height: 54px;
  border: 0;
  vertical-align: middle;
  line-height: 54px;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 3px 3px 3px #9f9f9f;
          box-shadow: 3px 3px 3px #9f9f9f; }
  .order-form__button--big {
    width: 100%;
    font-size: 18px; }

.order-form__annotation {
  display: block;
  margin-top: 38px; }
  .order-form__annotation:before {
    content: '*';
    padding-right: 5px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a {
  text-decoration: none; }

a:visited {
  color: black; }

.toner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 0; }

.header {
  display: block;
  width: 1636px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  background-color: white; }
  .header:after {
    display: block;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: -3px;
    left: 0;
    right: 0;
    z-index: 400;
    -webkit-box-shadow: 0px 3px 1px black;
            box-shadow: 0px 3px 1px black; }
  .header__nav {
    display: inline-block;
    width: 1116px;
    padding: 0;
    vertical-align: middle;
    line-height: 88px; }
  .header__nav a {
    padding-left: 22px;
    padding-right: 22px;
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle; }
  .header__nav a:hover {
    text-decoration: underline; }
  .header__nav a:first-child {
    padding-left: 0; }
  .header__nav a.active {
    color: #55963d;
    text-decoration: underline; }
  .header__side {
    display: inline-block;
    width: 256px;
    vertical-align: middle;
    line-height: 88px;
    height: 88px; }
    .header__side--left {
      float: left; }
    .header__side--right {
      float: right;
      text-align: right; }
  .header__phone {
    float: right;
    text-align: right;
    padding-right: 47px;
    font-size: 28px; }
  .header__order {
    display: inline-block;
    background-color: #55963d;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 217px;
    height: 60px;
    border: 0;
    vertical-align: middle;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 3px 3px 3px #9f9f9f;
            box-shadow: 3px 3px 3px #9f9f9f;
    box-shadow: 3px 3px 3px #9f9f9f; }
    .header__order:visited {
      color: white; }

.wrapper {
  background-image: url(../img/bg.jpg);
  background-attachment: fixed; }

.container {
  display: block;
  width: 1116px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  background-size: 100%;
  padding-bottom: 42px;
  position: relative; }

.carousel {
  position: relative; }
  .carousel img {
    display: block;
    width: 1116px; }
  .carousel ul {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -162px;
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
  .carousel__sign {
    display: block;
    padding-left: 43px;
    padding-top: 26px;
    padding-bottom: 16px;
    width: 309px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); }
    .carousel__sign--active {
      background-color: rgba(85, 150, 61, 0.95); }
  .carousel__link {
    display: block;
    margin-top: 6px;
    text-decoration: underline;
    font-style: italic;
    color: white; }
  .carousel__link:visited {
    color: white; }
  .carousel__description {
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 375px;
    bottom: 0;
    height: 317px;
    left: 373px;
    padding-left: 35px;
    padding-right: 44px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
    .carousel__description h1 {
      font-size: 23px;
      font-style: normal;
      margin-bottom: 72px;
      margin-top: 46px; }

.news-panel--column {
  position: absolute;
  top: 0;
  right: 47px;
  width: 274px;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: white; }

.news-panel__expand {
  display: block;
  height: 39px;
  line-height: 39px;
  background-color: #f0f0f0;
  text-align: center; }

.news-panel--digest {
  text-align: center; }
  .news-panel--digest h2 {
    background-color: #f0f0f0;
    line-height: 44px;
    padding-left: 43px; }
  .news-panel--digest .news-block {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    width: 207px;
    text-align: left;
    vertical-align: top; }
    .news-panel--digest .news-block__date {
      color: #55963d; }
    .news-panel--digest .news-block__title {
      color: black;
      text-decoration: none; }
  .news-panel--digest .news-block:nth-child(2) {
    margin-left: 43px; }
  .news-panel--digest .news-block:nth-child(5) {
    margin-right: 47px; }

.news-block img {
  max-width: 100%; }

.news-block a:hover {
  text-decoration: underline; }

.news-block__image-container {
  position: relative;
  font-size: 12px; }

.news-block__title {
  color: #55963d;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: underline; }

.news-block__text {
  margin-top: 10px;
  margin-bottom: 32px;
  font-size: 11px; }

.news-block__link, .news-block__link:visited {
  display: block;
  font-style: italic;
  font-size: 16px;
  color: #55963d;
  text-align: right; }

.news-block--middle {
  padding-bottom: 28px;
  width: 418px;
  display: inline-block; }
  .news-block--middle .news-block__text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal; }

.news-block--big .news-block__image-container {
  float: left;
  padding-right: 30px;
  padding-bottom: 21px; }

.news-block--big .news-block__title {
  color: black;
  text-decoration: none;
  text-transform: uppercase; }

.news-block--big .news-block__date {
  display: block;
  text-align: right;
  color: #55963d; }

.news-block--big .news-block__text {
  font-size: 14px; }

.news-block .image-container__views {
  position: absolute;
  bottom: 29px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #55963d;
  color: white;
  left: 0; }

.news-block .image-container__date {
  position: absolute;
  bottom: 29px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #55963d;
  color: white;
  right: 0; }

.news-block .image-container__title {
  font-size: 14px;
  position: absolute;
  top: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  color: white; }

.news-section .page-title {
  margin-left: 43px; }

.news-section .news-block:nth-child(odd) {
  float: right;
  margin-right: 99px; }

.news-section .news-block:nth-child(even) {
  margin-left: 92px; }

.page-title {
  margin: 0;
  padding-top: 38px;
  line-height: 42px;
  margin-bottom: 24px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  text-align: left;
  color: black; }
  .page-title__content {
    vertical-align: middle;
    color: black; }
  .page-title--center {
    text-align: center; }
  .page-title--block-title {
    margin-top: 20px;
    padding-top: 0;
    margin-left: 0;
    line-height: normal; }

.about-company {
  padding-left: 43px;
  width: 705px; }

.pagination {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: black;
  vertical-align: middle; }
  .pagination a, .pagination a:visited {
    color: #55963d;
    text-decoration: underline; }
  .pagination__prev {
    margin-right: 22px; }
    .pagination__prev:before {
      content: '';
      vertical-align: baseline;
      margin-right: 18px;
      margin-left: 0; }
  .pagination__next {
    margin-left: 22px; }
    .pagination__next:after {
      content: '';
      vertical-align: baseline;
      margin-right: 0;
      margin-left: 18px; }

.build-history {
  padding-left: 43px;
  padding-right: 47px; }
  .build-history .horiz-scroll {
    /*
        &__container > div:first-child{
            margin-left: $scroll-button__width + 4px;
        }

        &__container > div:last-child{
            margin-right: $scroll-button__width + 4px;
        }
        */ }
    .build-history .horiz-scroll__frame {
      height: 236px; }
    .build-history .horiz-scroll__container {
      margin: 0;
      padding-left: 46px;
      padding-right: 46px;
      width: 2041px;
      width: 1583px; }
    .build-history .horiz-scroll__scroll-button {
      width: 46px; }
      .build-history .horiz-scroll__scroll-button:focus {
        outline: 0; }
  .build-history__element {
    width: 238px;
    display: inline-block;
    text-align: center;
    height: 100%;
    position: relative;
    font-weight: normal;
    font-size: 14px;
    height: 231px;
    vertical-align: top; }
    .build-history__element a {
      color: black; }
    .build-history__element a:visited {
      color: black; }
    .build-history__element img {
      max-width: 100%;
      max-height: 143px; }
    .build-history__element h3 {
      text-transform: uppercase;
      margin: 0; }
    .build-history__element .year {
      display: block;
      color: #55963d;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      background-color: white;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(42%, white), to(white));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 42%, white 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 42%, white 100%); }
  .build-history__element {
    display: inline-block;
    width: 238px; }

.horiz-scroll {
  /* блок горизонтального скролла состоит из нескольких элементов:
    -рамка
    -родительский блок, на который навешиваются кнопки
    -блок с элементами
    -кнопки
    */ }
  .horiz-scroll__frame {
    position: relative;
    overflow: hidden; }
    .horiz-scroll__frame::-webkit-scrollbar {
      width: 13px;
      height: 13px; }
    .horiz-scroll__frame::-webkit-scrollbar-button {
      width: 0px;
      height: 0px; }
    .horiz-scroll__frame::-webkit-scrollbar-thumb {
      background: #2d2d2d;
      border: 0px none #ffffff;
      -webkit-border-radius: 0px;
              border-radius: 0px; }
    .horiz-scroll__frame::-webkit-scrollbar-thumb:hover {
      background: #2d2d2d; }
    .horiz-scroll__frame::-webkit-scrollbar-thumb:active {
      background: #000000; }
    .horiz-scroll__frame::-webkit-scrollbar-track {
      background: #f0f0f0;
      border: 0px none #ffffff;
      -webkit-border-radius: 0px;
              border-radius: 0px; }
    .horiz-scroll__frame::-webkit-scrollbar-track:hover {
      background: #f0f0f0; }
    .horiz-scroll__frame::-webkit-scrollbar-track:active {
      background: #f0f0f0; }
    .horiz-scroll__frame::-webkit-scrollbar-corner {
      background: transparent; }
    .horiz-scroll__frame--no-scrollbar::-webkit-scrollbar {
      display: none; }
  .horiz-scroll__parent {
    position: relative; }
  .horiz-scroll__container {
    height: 100%; }
  .horiz-scroll__scroll-button {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: white;
    border: 0; }
    .horiz-scroll__scroll-button--left {
      left: 0; }
    .horiz-scroll__scroll-button--right {
      right: 0; }

.footer {
  display: block;
  width: 1636px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 45px;
  padding-bottom: 42px; }
  .footer__wrapper {
    background-color: #282828; }
  .footer__main-container {
    text-align: center; }
  .footer .fast-links {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    font-size: 14px;
    text-align: left;
    padding-left: 82px;
    padding-right: 82px; }
    .footer .fast-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 26px; }
    .footer .fast-links h4 {
      padding-top: 0;
      margin: 0; }
  .footer .about {
    line-height: normal;
    color: #515151; }
    .footer .about__name {
      display: inline-block;
      font-size: 10px; }
    .footer .about__copyright {
      display: inline-block;
      font-size: 14px;
      white-space: nowrap; }
  .footer a, .footer a:visited {
    color: white; }
  .footer .phone {
    font-size: 28px;
    font-weight: bold;
    text-align: left; }

.objects-category {
  display: inline-block;
  width: 293px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #f0f0f0;
  position: relative;
  padding-top: 41px;
  padding-bottom: 41px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden; }
  .objects-category__name {
    position: relative;
    line-height: 44px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    color: white; }
  .objects-category__photo {
    position: absolute;
    top: 0; }
  .objects-category__bg {
    background-size: cover;
    background-repeat: no-repeat; }
    .objects-category__bg--office {
      background-image: url(../img/objects__office-bg.jpg); }
    .objects-category__bg--house {
      background-image: url(../img/objects_house-bg.jpg); }
    .objects-category__bg--parking {
      background-image: url(../img/objects__parking-bg.jpg); }

.category-list {
  margin-top: 61px; }
  .category-list__item {
    display: inline-block;
    margin-left: 72px;
    text-align: center;
    font-weight: bold; }
    .category-list__item span {
      display: block; }

.object__name {
  display: inline-block;
  padding-top: 36px;
  font-weight: bold; }

.object__plan {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 34px;
  border: 1px solid #f0f0f0; }

.visualization-3d {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  width: 748px;
  height: 534px;
  padding-left: 43px;
  padding-right: 44px;
  position: relative; }
  .visualization-3d__desc {
    display: inline-block;
    width: 230px;
    margin: 0;
    text-align: left; }
  .visualization-3d__vertical {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .visualization-3d__vertical--right {
      text-align: right;
      float: right; }
      .visualization-3d__vertical--right img {
        margin-top: 30px; }
    .visualization-3d__vertical--left {
      float: left; }
      .visualization-3d__vertical--left p {
        margin-top: 30px; }

.documents {
  display: inline-block;
  vertical-align: top;
  width: 274px;
  margin-left: 47px; }
  .documents a {
    display: table;
    margin-top: 15px;
    margin-bottom: 15px; }
    .documents a .link__icon-container {
      display: table-cell;
      width: 47px;
      vertical-align: middle;
      text-align: right; }
    .documents a .link__text-container {
      display: table-cell;
      vertical-align: top; }
  .documents__link {
    display: inline;
    color: black;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px; }
    .documents__link:hover {
      text-decoration: underline; }
    .documents__link--green:hover {
      color: #55963d; }
  .documents__size {
    font-size: 14px;
    color: #8a8a8a;
    white-space: nowrap; }

.order-annotation {
  text-align: center; }
  .order-annotation__title {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    padding-top: 42px;
    padding-bottom: 37px; }
  .order-annotation__body {
    font-size: 18px;
    text-align: left; }

.choose {
  display: table-cell;
  width: 50%; }
  .choose__container {
    display: table; }
  .choose__title {
    font-size: 20px;
    text-align: center;
    font-weight: normal; }
    .choose__title--green {
      color: #55963d; }
  .choose__annotation, .choose__feature {
    display: block;
    font-size: 18px; }
  .choose__feature::before {
    content: '—';
    padding-right: 6px; }

.proj-gallery {
  display: block;
  width: 433px;
  overflow: hidden; }
  .proj-gallery--first {
    margin-top: 32px; }
  .proj-gallery--preview {
    width: auto;
    text-align: justify; }
  .proj-gallery__image {
    float: left;
    display: block;
    margin: 2.5px; }
    .proj-gallery__image--middle {
      float: right; }
    .proj-gallery__image--small {
      float: inherit;
      display: inline-block; }

.vacancy {
  background-color: #f0f0f0; }
  .vacancy .vacancy__title {
    font-weight: bold;
    font-size: 14px;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 33px;
    vertical-align: middle;
    position: relative; }
    .vacancy .vacancy__title .icon, .vacancy .vacancy__title .pagination__prev:before, .vacancy .vacancy__title .pagination__next:after {
      float: right; }
  .vacancy__body {
    padding-left: 48px;
    display: block;
    overflow: hidden;
    -webkit-transition: height 200ms;
    transition: height 200ms; }
  .vacancy__body.open {
    padding-bottom: 37px; }
  .vacancy__description {
    display: inline-block;
    width: 45%; }
  .vacancy__feedback {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    width: 55%; }
    .vacancy__feedback .feedback-form__container {
      width: 322px; }
    .vacancy__feedback .feedback-form__upload-file {
      margin-left: 4px; }

.twogis-container {
  margin-bottom: 49px; }

.our-location {
  padding-left: 77px; }
  .our-location__title {
    font-weight: bold;
    font-size: 16px; }
  .our-location__adress {
    font-size: 14px; }

.filter {
  display: inline-block;
  background-color: #f1f1f1;
  margin-left: 24px;
  margin-right: 0px; }
  .filter__header-text {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 12px; }
  .filter__icon-container {
    float: right;
    background-color: #d7d7d7;
    padding: 15px 12px; }
    .filter__icon-container .icon, .filter__icon-container .pagination__prev:before, .filter__icon-container .pagination__next:after {
      margin: 0; }
  .filter .filter-selection {
    display: none; }
  .filter--important {
    color: white;
    background-color: #55963d; }
    .filter--important .filter__icon-container {
      background-color: #40722e; }

.tenders-join-form {
  display: inline-block;
  margin-left: 43px;
  width: 661px;
  background-color: #f0f0f0; }
  .tenders-join-form .page-title {
    padding-left: 24px;
    margin-bottom: 30px; }
  .tenders-join-form__annotation {
    width: 661px;
    font-size: 14px;
    color: #8a8a8a; }
  .tenders-join-form .feedback-form {
    position: relative; }
    .tenders-join-form .feedback-form__column {
      padding-left: 34px;
      padding-right: 47px;
      height: 188px; }
    .tenders-join-form .feedback-form__field, .tenders-join-form .calc__field {
      margin-top: 0; }
    .tenders-join-form .feedback-form__button {
      display: block;
      display: inline-block;
      background-color: #55963d;
      color: white;
      text-decoration: none;
      text-align: center;
      width: 217px;
      height: 31px;
      border: 0;
      vertical-align: middle;
      line-height: 31px;
      text-transform: uppercase;
      font-size: 16px;
      -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
              box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
      -webkit-box-shadow: 3px 3px 3px #9f9f9f;
              box-shadow: 3px 3px 3px #9f9f9f;
      position: absolute;
      bottom: 20px; }
    .tenders-join-form .feedback-form__upload-file {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 5px; }
      .tenders-join-form .feedback-form__upload-file:hover .label {
        text-decoration: underline; }
      .tenders-join-form .feedback-form__upload-file .label {
        display: inline-block;
        width: 80%;
        color: black;
        text-decoration: none; }
      .tenders-join-form .feedback-form__upload-file .icon, .tenders-join-form .feedback-form__upload-file .pagination__prev:before, .tenders-join-form .feedback-form__upload-file .pagination__next:after {
        vertical-align: top; }

.sells-filters {
  text-align: right; }
  .sells-filters__title {
    margin-right: 4px; }

.sell-table {
  width: 1026px;
  margin-left: 43px;
  margin-right: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #f1f1f1; }
  .sell-table .icon, .sell-table .pagination__prev:before, .sell-table .pagination__next:after {
    margin-right: 0; }
  .sell-table__headers {
    background-color: #e3e3e3;
    color: #55963d; }
    .sell-table__headers th {
      font-weight: normal; }
    .sell-table__headers th:nth-child(1) {
      width: 18%; }
    .sell-table__headers th:nth-child(2) {
      width: 17%; }
    .sell-table__headers th:nth-child(3) {
      width: 16%; }
    .sell-table__headers th:nth-child(4) {
      width: 7%; }
    .sell-table__headers th:nth-child(5) {
      width: 17%; }
    .sell-table__headers th:nth-child(odd) {
      background-color: #e6e6e6; }
  .sell-table tr {
    height: 110px; }
    .sell-table tr td:nth-child(even) {
      background-color: #ececec; }
  .sell-table tr:first-child {
    height: 50px; }
  .sell-table td {
    text-align: center;
    vertical-align: middle; }
  .sell-table__link {
    display: inline-block;
    background-color: #55963d;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 217px;
    height: 40px;
    border: 0;
    vertical-align: middle;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 3px 3px 3px #9f9f9f;
            box-shadow: 3px 3px 3px #9f9f9f;
    color: white;
    font-weight: normal;
    display: inline-block;
    width: 184px; }
    .sell-table__link:visited {
      color: white; }
  .sell-table img {
    max-width: 100%; }

.tender-tabs {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0; }
  .tender-tabs__tab {
    position: relative;
    top: -22px;
    display: inline-block;
    width: 169px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 14px;
    color: black;
    background-color: #ececec; }
    .tender-tabs__tab--active {
      background-color: #55963d;
      color: white; }
      .tender-tabs__tab--active:visited {
        color: white; }

.tenders-container {
  border: 10px solid #ececec;
  margin-left: 43px;
  margin-right: 47px; }
  .tenders-container .stats {
    height: 84px;
    line-height: 84px;
    text-align: center; }
    .tenders-container .stats__val {
      margin-left: 25px;
      margin-right: 25px; }
  .tenders-container .tender:nth-child(even) {
    background-color: #f0f0f0; }

.tender {
  display: table;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 34px;
  vertical-align: top; }
  .tender__container {
    display: inline-block;
    text-align: left;
    font-size: 14px; }
  .tender__info {
    display: table-cell;
    width: 44%;
    text-align: center;
    vertical-align: top; }
    .tender__info .tender__container {
      line-height: 30px; }
  .tender__id {
    font-weight: bold;
    display: block; }
    .tender__id:before {
      content: '№ '; }
  .tender__status--active {
    display: inline-block;
    background-color: #fc4b15;
    color: white;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px; }
  .tender__body {
    display: table-cell;
    width: 56%;
    vertical-align: top; }
    .tender__body .tender__container {
      width: 365px; }
  .tender__title {
    color: #55963d;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
    margin: 0; }
  .tender__link {
    display: inline-block;
    background-color: #55963d;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 217px;
    height: 34px;
    border: 0;
    vertical-align: middle;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 3px 3px 3px #9f9f9f;
            box-shadow: 3px 3px 3px #9f9f9f;
    display: block;
    width: 100%;
    margin-top: 26px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .tender__link:visited {
      color: white; }

.calc {
  display: inline-block;
  width: 705px;
  margin-left: 43px;
  padding-bottom: 12px;
  background-color: #f0f0f0; }
  .calc .page-title {
    padding-left: 25px; }
  .calc__col {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    vertical-align: top; }
    .calc__col--left {
      padding-left: 34px;
      width: 467px;
      padding-right: 78px; }
    .calc__col--right {
      padding-right: 44px;
      width: 238px; }
  .calc__field {
    display: inline-block;
    width: 182px;
    height: 40px;
    line-height: 32px;
    resize: none;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: right;
    margin-bottom: 6px;
    font-size: 14px; }
    .calc__field--ro {
      width: 67px;
      padding-left: 10px;
      padding-right: 10px; }
  .calc label {
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 6px; }
  .calc__result-sign {
    font-size: 60px;
    font-weight: bold;
    color: gainsboro;
    margin-left: 34px; }
  .calc__result {
    display: inline-block;
    border: 10px solid gainsboro;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 297px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    float: right;
    margin-right: 44px; }
  .calc__result-annotation {
    display: inline-block; }
    .calc__result-annotation--value {
      float: right;
      width: 90px;
      text-align: left; }
  .calc__result-container {
    margin-top: 20px; }

.get-a-number {
  display: inline-block;
  width: 274px;
  margin-left: 47px;
  background-color: #f0f0f0;
  vertical-align: top; }
  .get-a-number .page-title {
    text-align: center; }
  .get-a-number form {
    background-color: #f0f0f0;
    margin: 0 10px 10px;
    padding: 20px 25px 4px;
    background-color: white; }
  .get-a-number input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 14px; }
  .get-a-number__annotation {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: color__annotation;
    margin-top: 20px; }

.how-to {
  background-color: #f0f0f0;
  padding-left: 43px;
  padding-right: 47px;
  padding-bottom: 30px; }
  .how-to__title {
    padding-left: 25px;
    font-size: 16px;
    padding-top: 36px;
    padding-bottom: 36px; }
  .how-to .step {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33%;
    padding: 0 12px; }
    .how-to .step__num {
      display: inline-block;
      vertical-align: top;
      width: 42px;
      height: 42px;
      margin-right: 25px;
      line-height: 42px;
      background-color: #55963d;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-weight: bold;
      font-size: 22px; }
    .how-to .step__container {
      display: inline-block;
      vertical-align: top;
      width: 246px;
      float: right; }
    .how-to .step__title {
      font-weight: bold;
      margin: 0;
      font-size: 16px; }
    .how-to .step__description {
      margin: 0;
      font-size: 14px; }

.partner-banks {
  margin: 0;
  margin-top: 27px;
  padding: 0;
  list-style: none;
  text-align: center; }
  .partner-banks li {
    display: inline-block;
    margin-left: 23px;
    margin-right: 23px; }

.partner {
  margin-left: 43px;
  margin-right: 47px;
  margin-bottom: 46px;
  width: 1026px; }
  .partner__logo {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 212px;
    border: 10px solid #ececec; }
  .partner img {
    display: block; }
  .partner__about {
    display: inline-block;
    width: 814px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-top: 8px;
    padding-left: 37px;
    font-size: 14px;
    vertical-align: top; }
  .partner__link {
    color: #55963d; }
    .partner__link:visited {
      color: #55963d; }

.flamp-container {
  width: 983px;
  text-align: center; }

.page__annotation {
  margin-left: 77px;
  margin-right: 47px; }

.page > .page-title {
  margin-left: 43px; }

.page--news-article > .news-block {
  margin-right: 47px;
  margin-left: 43px; }

.page--objects .objects-categories {
  text-align: center; }

.page--objects .category-list {
  margin-left: 43px;
  margin-right: 47px; }

.page--objects .object {
  margin-right: 47px;
  margin-left: 43px; }

.page--documents {
  padding-top: 38px; }
  .page--documents > div {
    vertical-align: top; }
  .page--documents .news-panel {
    padding-top: 30px; }

.page--book-proj {
  font-family: 'proxima_nova_rgregular';
  padding-left: 77px;
  padding-right: 47px;
  background-image: url(../img/book-project__background-house.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 1; }
  .page--book-proj:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1; }
  .page--book-proj .proj-gallery--preview {
    margin-top: 70px; }

.page--vacancies {
  min-height: 790px; }
  .page--vacancies .vacancy {
    margin-left: 77px;
    margin-right: 47px; }

.page--contacts h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 22px; }

.page--contacts .our-location {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  vertical-align: top; }
  .page--contacts .our-location__adress {
    margin-bottom: 55px; }

.page--contacts .feedback-form {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  padding-right: 74px;
  text-align: center;
  vertical-align: top; }
  .page--contacts .feedback-form h2 {
    margin-bottom: 24px; }
  .page--contacts .feedback-form__container {
    width: 647px;
    padding: 25px;
    background-color: #f0f0f0; }

.page--sells .sells-filters {
  margin-left: 43px;
  margin-right: 47px;
  margin-top: 5px;
  margin-bottom: 22px; }

.page--tenders .tenders-join-form__container {
  display: inline-block; }

.page--tenders .tenders-join-form__annotation {
  margin-left: 43px; }

.page--tenders .documents {
  background-color: #f0f0f0;
  width: 339px;
  padding-left: 18px;
  margin-left: 26px;
  margin-bottom: 65px; }
  .page--tenders .documents .page-title--block-title {
    padding-left: 47px;
    text-align: center; }

.page--tenders .pagination {
  font-size: 16px;
  font-style: normal;
  text-align: right;
  margin-top: 35px;
  margin-right: 47px;
  margin-left: 43px; }

.page--mortgage .warning {
  display: inline-block;
  font-size: 12px;
  margin-left: 43px;
  width: 705px;
  color: #888888; }

.page--feedback .feedback-form__button {
  width: 992px;
  margin-left: 77px;
  margin-right: 47px;
  margin-top: 40px; }

.page--feedback .flamp-container {
  margin-top: 46px;
  margin-left: 77px;
  margin-right: 47px; }
