body{
    margin:0;
    background-color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
}

.first-v{
    text-align: center;
}
/*
h2,h3,.btn,.clarification{
    text-align: center;
}
*/

h2{
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 26px;
    margin-top: 26px;
}
.clarification{
    font-size: 18px;
    color: #d2d5d8;
    display: block;
}

.btn{
    display: inline-block;
    background-color: #fefefe;
    color: #43a9ff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:  41px;
    padding-right: 41px;
    border-radius: 17px;
    
    -webkit-box-shadow: 0px 0px 13px 1px rgba(218,229,239,1);
    -moz-box-shadow: 0px 0px 13px 1px rgba(218,229,239,1);
    box-shadow: 0px 0px 13px 1px rgba(218,229,239,1);
}

.first-v img{
    position: absolute;
   left:0;
   width: 100%;
   z-index: -1;
   
}
.first-v .btn{
    margin-top: 3vw;
}

#after-horse{
    margin-top: 40vw;
}

.offer{
    display: inline-block;
    max-width: 345px;
    margin-left: 15px;
    margin-right: 15px;
}
.breaker{
    display: inline-block;
}

.offers{
    margin-top: 74px;
    margin-bottom: 48px;
}
.offer p{
    margin-top: 45px;
}

.decoration{
    font-size: 44px;
    color: #43a9ff;
}

.box{
    display: table;
    width: 100%;
}

.first, .second{
    background-color: #f7f8fb;
}

.first{
    margin-top: 125px;
}


.box .elem{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.box .elem img{
    display: block;
}

.elem .padding-text{
    text-align: left;
    display: inline-block;
}

.first.box .elem .padding-text{
    padding-left: 120px;
}

.second.box .elem{
    text-align: center;
}

.elem p{
    max-width: 600px;
}

.elem.imageHost{
    text-align: center;
}

.elem.imageHost img{
    display: inline-block;
}

.first-app, .second-app{
    background-image: url(img/BGsnowflake1.svg);
    background-repeat: no-repeat;
    background-position: 5% -90px;
    background-size: 674px 674px;
    
    padding-top: 162px;
}

.second-app{
    background-image: url(img/BGsnowflake2-01.svg);
    background-size: 660px 600px;
    background-position: bottom right;
    padding-bottom: 165px;
}


.first-app .elem .padding-text{
    padding-left: 19px;
}
.second-app .elem{
    text-align: right;
}
.second-app .elem.imageHost{
    text-align: center;
}

.second-app .elem .padding-text{
    margin-right: 48px;
}

.app .elem h2{
    color: #43a9ff;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
    width: 0px;
    height: 0px;
}

.feedback{
    background-color: #f7f8fb;
    height: 630px;
}

.feedback .imageHost{
    vertical-align: bottom; 
}

.feedback h2{
    color: #fe3254;
}

.name{
    display: inline-block;
    margin-top: 66px;
}

.footer {
    padding-top: 136px;
}

.footer .btn{
    margin-top: 100px;
    margin-bottom: 13px;
}
.footer img{
    display: block;
    width: 100%;
}
