
.icon-balls:before { content: '\e800'; } /* '' */
.icon-bell:before { content: '\e801'; } /* '' */
.icon-church:before { content: '\e802'; } /* '' */
.icon-snowflake:before { content: '\e803'; } /* '' */