.container{
    text-align: center;
}

#form{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#form .form-bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.6);
}


.centered{
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

.hidden{
    display: none;
}


.panel{
    position: relative;
}

.panel-heading{
    position: relative;
}

.panel-success .panel-heading{
    min-height: 40px;
}

.button-close{
    position: absolute;
    right: 20px;
    background-color: inherit;
    border: none;
}

.window-container{
    position: relative;
}
